<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Linux Foundation Console</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding headerspacing overflow-scroll="true" [ngClass]="{'loading': loading}">

  <header>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-3>
          <span class="main-headers">CONTRACTS</span>
          <div class="chart-container">
            <canvas height="250" #contractsCanvas></canvas>
          </div>
        </ion-col>
        <ion-col col-12 col-md-5>
          <span class="main-headers">INVOICES</span>
          <div class="chart-container">
            <canvas #invoicesCanvas></canvas>
          </div>
        </ion-col>
        <ion-col col-12 col-md-4 class="calendar-column">
          <span class="main-headers">Calendar</span>
          <div class="calendar-container">
            <iframe *ngIf="user.calendar !== null; else noCalendar" [src]="user.calendar"></iframe>
            <ng-template #noCalendar>
              <div class="no-calendar" (click)="openAccountSettings()">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Add your calendar on the Account Settings page.</ion-label>
              </div>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </header>

  <ion-grid class="projects-list">
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let project of allProjects">
        <ion-card >
          <ion-card-content>
            <ion-card-title (click)="viewProject(project.id)">
              <span class="project-name">{{ project.name }}</span>
            </ion-card-title>
            <dl>
              <dt> Type </dt>
              <dd>{{ project.category }}</dd>
            </dl>
            <dl>
              <dt> Status </dt>
              <dd>{{ project.status }}</dd>
            </dl>
            <dl>
              <dt> ID </dt>
              <dd><small><span>{{ project.id }}</span></small></dd>
            </dl>
            <ion-item>
              <ion-icon name="calendar" item-left large ></ion-icon>
              <h2>{{project.name}} Meeting</h2>
              <p>3/18/2017, 4:00 - 5:00 pst</p>
            </ion-item>
            <ion-item>
              <button ion-button clear item-right (click)="viewProject(project.id)">View</button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- This will be ported and removed once CINCO API has the ability to return the full payload with all the information required -->
  <!-- <ion-grid class="projects-list">
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let project of projects">
        <ion-card>
          <img (click)="projectSelected($event, project)" src="{{project.icon}}" alt="{{project.title}} logo"/>
          <ion-card-content>
            <ion-card-title (click)="projectSelected($event, project)">
              {{project.title}}
            </ion-card-title>
            <dl>
              <ng-container *ngFor="let data of project.datas">
                <dt>{{data.label}}</dt>
                <dd>{{data.value}} <span *ngIf="data.status == 'alert'" class="circle-alert"></span></dd>
              </ng-container>
            </dl>
            <ion-item *ngFor="let meeting of project.meetings">
              <ion-icon name="calendar" item-left large></ion-icon>
              <h2>{{meeting.label}}</h2>
              <p>{{meeting.value}}</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
