memberships-modal {
  .toolbar {
    padding: 1rem 1rem 1rem 2rem;
  }
  .toolbar {
    background-color: #f5f5f5;
    color: black;
  }
  .footer-seamless {
    background-color: transparent;
    border-color: transparent;
    &:before {
      display: none;
    }
    .toolbar {
      background-color: inherit;
    }
    .toolbar-background {
      border-color: inherit;
    }
  }
  .toolbar-title .project-name {
    font-weight: normal;
  }
  .content {
    background-color: #fff;
  }

  ion-datetime {
    color:#000 !important;
    background: none !important;
    opacity: 1 !important;
  }

}
