project-analytics {
  ion-card {
    background-color: #ffffff;
    color: #0b4e73;
    height: 350px;
  }
  ion-icon {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .double-height {
    height: 710px;
  }
  .issues-tile {
    text-align: center;
  }
  .issues-tile-index {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1cb2e4;
    margin-top: 10px;
  }
  .issues-tile-index-separator {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 0px;
    height: 54px;
    border: solid 1px #1cb2e4;
  }
  .contributors-tile-index-separator {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 250px;
    height: 1px;
    border: solid 1px #1cb2e4;
  }
  .checklist-button {
    border-radius: 15px;
    padding-left: 15px;
    background-color: #2bb3e2;
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    width: 300px;
  }
  .contributor-index {
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1cb2e4;
  }
  .contributor-icon {
    font-size: 50px;
    vertical-align: middle;
    margin-bottom: 30px;
    color: #ebebeb;
  }
  .contributor-data {
    color: #1cb2e4;
  }
  .row {
    align-items: center;
  }
  .progress-cla-bar {
    background-color: #ebebeb;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  .progress-one {
    background-color: #044d74;
    height: 25px;
    float: left;
    width: 40%;
  }
  .progress-two {
    background-color: #1cb2e4;
    height: 25px;
    float: left;
    width: 35%;
  }
  .vertical-align {
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  .configure-analytics {
    margin: 40px;
  }
  .analytics-title {
    margin-top: 20px;
  }
  .chart {
    width: 100%;
    min-height: 450px;
  }
  .pipeline-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .pipeline-chart {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 300px;
  }
  .gauge-current-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    font-weight: 300;
    line-height: 1;
    bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 42px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1cb2e4;
  }
  .pipeline-gauge-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #044d74;
    padding-bottom: 10px;
  }
  .header-row {
    background-color: #ffffff;
  }
  .table-row {
    background-color: #ffffff;
  }
  .odd-table-row {
    background-color: #ffffff;
  }
  .selected-table-row {
    font-size: 16px;
    font-weight: bold;
  }
  .hover-table-row {
    background: #ccc;
  }
  .header-cell {
    color: #0b4e73;
    font-size: 14px;
    padding: 10px;
    border: solid 1px #ffffff;
    text-align: center;
  }
  .table-cell {
    font-size: 14px;
    padding: 10px;
    border: solid 1px #ffffff;
    text-align: center;
  }
  .row-number-cell {
    text-align: center;
  }
}
