# Copyright The Linux Foundation and each contributor to CommunityBridge.
# SPDX-License-Identifier: MIT
wsgi.py
serverless_wsgi.py
.wsgi_app
cla_config.py
.dynamodb
.serverless
env.json
_env.json
.mypy_cache
.venv
.vscode/
