{
  "auth0-domain": "",
  "auth0-clientId": "",
  "gh-oauth-secret": "",
  "gh-app-private-key": ""
  "gh-app-webhook-secret": "",
  "gh-oauth-client-id": "",
  "gh-app-public-link": "",
  "gh-app-id": "",
  "docusign-password": "",
  "docusign-integrator-key": "",
  "docusign-root-url": "",
  "docusign-username": "",
  "doc-raptor-api-key": "",
  "sf-username":	"",
  "sf-password": "",
  "sf-instance-url":	"",
  "sf-client-secret": "",
  "sf-client-id":	""
}