coverage==4.5.4
docraptor==1.2.0
boto3==1.9.236
gossip==2.3.1
gunicorn==19.9.0
hug==2.6.0
nose2==0.9.1
pydocusign==2.2
pygithub==1.43.8
pylint==1.5.2
pynamodb==3.4.1
pytest==5.0.1
python-jose==3.0.1
python-dateutil==2.8.0
requests_oauthlib==1.2.0
Werkzeug==0.15.5
mysql-connector-python==8.0.1

