coverage==4.4.2
docraptor==1.2.0
boto3==1.4.7
gossip==2.2.0
gunicorn==19.7.1
hug==2.3.0
nose2==0.7.2
pydocusign==2.2
pygithub==1.43.2
pylint==1.5.2
pynamodb==3.4.1
python-jose==3.0.0
python-dateutil==2.6.1
requests_oauthlib==0.8.0
Werkzeug==0.13
mysql-connector-python==8.0.16
