coverage==4.4.2
docraptor==1.2.0
boto3==1.4.7
gossip==2.2.0
gunicorn==19.7.1
hug==2.3.0

# Not a public package yet.
#lf-keycloak==2.0.4
#https://nexus.eng.linuxfoundation.org/repository/pypi-engineering/packages/lf-keycloak/2.0.4/lf-keycloak-2.0.4.tar.gz

nose2==0.7.2

# Use custom fork until PR #109 gets merged.
# pydocusign==1.2.0
# git+https://github.com/edouardpoitras/pydocusign.git@dev/edouardpoitras

pydocusign==2.2
#git+https://github.com/peopledoc/pydocusign.git@2.2

pygithub==1.34.0
pylint==1.5.2
pynamodb==3.2.1
python-jose==3.0.0
python-dateutil==2.6.1
requests_oauthlib==0.8.0
newrelic
