project-group-details {
  .vertical-align {
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  .groups-title {
    margin-top: 20px;
  }
  tr {
    background-color: #fff !important;
  }
}
