all-projects {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  .navbar-logo {
    width: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: 7px;
  }

  ion-header {
    border-bottom: 40px solid #4C79B6;
  }

  .scroll-content {
    margin-top: 96px !important;
    padding: 16px 50px !important;
  }

  .content {
    background-color: #F1F3F3;
  }

  ion-card {
    padding: 10px 15px;
    height: 270px;
    box-shadow: none !important; // Todo: Move this to a global scss file

    &.card{
      margin-left: 0;
      margin-right: 0;
    }
    dt {
      font-weight: 500;
      text-transform: capitalize;
    }
    dt,
    dd {
      display: inline;
    }
    dd {
      margin-left: 0;
    }
    .manager {
      &::after {
        display: inline;
        content: ", ";
      }
      &:last-child::after {
        content: none;
      }
    }
  }

  .cla-project-card {
    ion-card-content {
      padding: 30px 30px 33px 56px;

      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 7px;
        cursor: pointer;
      }

      p {
        color: #7b7b7b; // Todo: move this color to a variable
      }
    }
  }

  .card-header {
    padding: 0 15px;
    position: relative;
    border-bottom: 1px solid lightgray;

    .border-wrapper {
      display: flex;
      align-items: center;
      max-width: 90%;
      border-bottom: 3px solid #003764;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      display: block;
    }

    ion-card-title {
      color: black;
      font-size: 20px;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .error-message {
    text-align: center;
    font-size: 16px;
    color: #db4e4e;
  }
}
