ion-menu {
  .header {
    &:after {
      background-image: none;
      border-top: 1px solid color($colors, dark);
    }
    .app-logo {
      display: block;
      margin: 2rem 2rem;
      max-width: 150px;
    }
  }

  .menu-list {
    padding-left: 2rem;
    .item {
      font-weight: bold;
    }
    .menu-list {
      padding-bottom: 2rem;
      .item {
        font-weight: normal;
      }
    }
  }
  .item-md {
    &.item-block .item-inner {
      border-bottom: 0;
    }
  }

  .scroll-content {
    overflow-y: auto;
  }
}

/* This Doesn't Seem To Be In Use Anywhere
.menu-divider {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
*/
