// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

all-projects-logos {
  h1 {
    color: #8c8c8c
  }

  ion-datetime {
    color:#000 !important;
    background: none !important;
    opacity: 1 !important;
  }

  td {
    background-color: #fff;
  }


}
