contact-update-modal {
  .field-notice {
    font-size: 1.2rem;
    color: #999;
    text-align: right;
  }

  .toolbar-title .member-company {
    font-weight: normal;
  }

  .contact-primary,
  .contact-board {
    ion-icon {
      position: relative;
      top: 12px;
      opacity: 0.3;
      &[item-left] + .item-inner {
        margin-left: 0;
      }
    }
  }
}
