<div id="configure-mailing-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-listing">
        <div class="modal-title-mailing">
          <span id="myModalLabel">CONFIGURE MAILING LIST</span>
        </div>
        <button type="button" class="close-modal" data-dismiss="modal" style="color: #fff;" aria-label="Close">
          <span aria-hidden="true" style="color:#fff">X</span>
        </button>
      </div>
      <div class="modal-body-mailing">
        <br>
        <div name="mailing-list-title" class="manage-email-alias-modal-title">
          Mailing List Providers
        </div>
        <div class="modal-body-mailing-list-admin">
          <br>
          <div id="participants_div">
          </div>
          <br>
        </div>
        <form class="" action="/addParticipantToMailingList/<%= project.id %>" method="post">
          <div class="col-sm-12 content">
            <div class="col-sm-12 content">
              <div class="col-sm-12 content">
                <div class="radio custom-control custom-radio" >
                  <label>
                    <input type="radio" value="DEFAULT_MM2" name="alias_provider_radio" checked>
                    <span class="custom-control-indicator"></span>
                    Default Mailman 2
                  </label>
                </div>
                <div class="radio-inline custom-control custom-radio" >
                  <label>
                    <input type="radio" name="alias_provider_radio" value="CUSTOM_MM2">
                    <span class="custom-control-indicator"></span>
                    Custom Mailman 2
                  </label>
                </div>
                <input type="text" name="custom_mailman2" style="margin-left: 10px" placeholder="">
                <div class="radio custom-control custom-radio" >
                  <label>
                    <input type="radio" name="alias_provider_radio" value="GOOGLE_GROUPS">
                    <span class="custom-control-indicator"></span>
                    Google Groups
                  </label>
                </div>
                <div class="radio custom-control custom-radio" >
                  <label>
                    <input type="radio" name="alias_provider_radio" value="MM3">
                    <span class="custom-control-indicator"></span>
                    Mailman 3
                  </label>
                </div>
                <div class="radio custom-control custom-radio" >
                  <label>
                    <input type="radio" name="alias_provider_radio" value="OTHERS">
                    <span class="custom-control-indicator"></span>
                    Others
                  </label>
                </div>
                <input type="hidden" id="alias_id" name="alias_id">
              </div>
              <input type="hidden" id="mailing_list_id" name="mailing_list_id">
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <div class="col-sm-12 content">
                <input type="submit" class="btn btn-primary" style="margin-top:30px; margin-bottom:40px; width:30%" value="Add">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#configure-mailing-list-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var participants = button.data('participants');
    var mailingListName = button.data('mailing-list-name');
    var mailingListId = button.data('mailing-list-id');
    var modal = $(this);
    modal.find('[name=mailing-list-title]').text(mailingListName  + " participants");
    modal.find('[name=mailing-list-title]').text(" Mailing List Providers");
    $('#mailing_list_id').val(mailingListId);
    // $("#participants_table").remove();
    // $('#participants_div').append(  '<table id="participants_table" class="table" />' );
    // $('#participants_div table')
    // .append( '<tr>' +
    //   '<td><strong>Email</strong></td>'+
    //   '<td><strong>Remove</strong></td>'+
    // '</tr>' );
    // if(participants.length >= 1){
    //   for(i=0; i<participants.length; i++){
    //     $('#participants_div table')
    //     .append( '<tr>'+
    //       '<td>' + participants[i].address + '</td>' +
    //       '<td> &nbsp  &nbsp &nbsp <a href="/removeParticipantFromMailingList/<%= project.id %>/' +
    //       mailingListId + '/' + encodeURI(participants[i].address) + '"> &times; </a> </td>' +
    //     '</tr>' );
    //   }
    // }
  });
</script>
