<div id="create-email-alias-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-listing">
        <div class="modal-title-mailing">
          <span id="myModalLabel">CREATE AN EMAIL ALIAS</span>
        </div>
        <button type="button" class="close-modal" data-dismiss="modal" style="color: #fff;" aria-label="Close">
          <span aria-hidden="true" style="color:#fff">X</span>
        </button>
      </div>
      <div class="modal-body-mailing">
        <br>
        <form class="" method="post">
          <div class="col-sm-12 content">
            <div class="col-sm-12 content" id="email-aliases-input-div">
              <input type="text" id="email_alias" name="email_alias" class="typeahead" placeholder="Email Alias">
            </div>
          </div>
          <div class="col-sm-12 content" style="margin-top: 10px;">
            <div class="col-sm-12 content">
              <input type="text" id="participant_email" name="participant_email" class="modal-email-address-input" placeholder="Participant Email Address">
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <div class="col-sm-12 content">
                <button type="button" data-dismiss="modal" class="btn btn-primary" style="margin-top:10px; margin-bottom:20px; width:30%"  onclick="addAlias()">
                  Add
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function toggleDiv(selected){
   if(selected.value == '(new)') document.getElementById('alias-input-div').style.display = "block";
   else document.getElementById('alias-input-div').style.display = "none";
  }
</script>

<script type="text/javascript">
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches = [];
      var substringRegex;
      substrRegex = new RegExp(q, 'i');
      $.each(strs, function(i, str){
        if(substrRegex.test(str)){
          matches.push(str);
        }
      });
      cb(matches);
    };
  };

  var emailAliasesSample = [
    'contact@',
    'events@',
    'pr@',
    'legal@',
    'membership@'
  ];

  $('#email-aliases-input-div .typeahead').typeahead(
    {
      hint: true,
      highlight: true,
      minLength: 0
    },
    {
      name: 'emailAliasesSample',
      source: substringMatcher(emailAliasesSample)
    }
  );

</script>
