      </div>
    </div>
    
    <script src="assets/js/js-theme/jquery.min.js"></script>
    <script src="assets/js/js-theme/chart.js"></script>
    <script src="assets/js/js-theme/tablesorter.min.js"></script>
    <script src="assets/js/js-theme/toolkit.js"></script>
    <script src="assets/js/js-theme/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>
