      </div>
    </div>

    <script src="/assets/js/chart.js"></script>
    <script src="/assets/js/tablesorter.min.js"></script>
    <script src="/assets/js/toolkit.js"></script>
    <script src="/assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
    <script src="/assets/js/dropzone.js"></script>
    <script type="text/javascript">
      Dropzone.autoDiscover = false;
      jQuery(document).ready(function() {
        $("div#dropzoneArea").dropzone({
          url: "/file/post"
        });
      });
    </script>

  </body>
</html>
