<!DOCTYPE html>
<html>
    <head>
        <title>Integration Console</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href=".">

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->

        <!-- Dark UI version -->
        <!-- <link href="assets/css/toolkit-inverse.css" rel="stylesheet"> -->
        <!-- Ligth UI version -->
        <link href="assets/css/toolkit-light.css" rel="stylesheet">
        <link href="assets/css/application.css" rel="stylesheet">
        <link href="assets/css/dropzone/basic.css" rel="stylesheet">
        <link href="assets/css/dropzone/dropzone.css" rel="stylesheet">
    </head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <nav class="sidebar-nav">
        <div class="sidebar-header">
          <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
            <span class="sr-only">Toggle nav</span>
          </button>
          <a class="sidebar-brand img-responsive" href="/">
            <img src="/assets/img/lf_logo.png" alt=""/>
          </a><br><br>
          <span class="statcard-desc">Admin Mode</span>
        </div>
        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
          <%- include('nav') %>
          <hr class="visible-xs m-t">
        </div>
      </nav>
    </div>
    <div class="col-sm-9 content">
      <div class="btn-toolbar dashhead-toolbar">
        <form action="/logout">
          <button class="btn btn btn-default-outline" type="submit" >
            <span class="icon icon-log-out"></span>
            Logout
          </button>
        </form>
      </div>
    </div>
    <br>
