<!DOCTYPE html>
<html>
    <head>
        <title>Integration Console</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href=".">

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->

        <!-- Dark UI version -->
        <!-- <link href="assets/css/toolkit-inverse.css" rel="stylesheet"> -->
        <!-- Ligth UI version -->
        <link href="assets/css/toolkit-light.css" rel="stylesheet">
        <link href="assets/css/application.css" rel="stylesheet">
    </head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <nav class="sidebar-nav">
        <div class="sidebar-header">
          <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
            <span class="sr-only">Toggle nav</span>
          </button>
          <a class="sidebar-brand img-responsive" href="/">
            <img src="/assets/img/lf_logo.png" alt=""/>
          </a>
        </div>

        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
          <form class="sidebar-form">
            <input class="form-control" type="text" placeholder="Search...">
            <button type="submit" class="btn-link">
              <span class="icon icon-magnifying-glass"></span>
            </button>
          </form>
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Dashboards</li>
            <li class="active">
              <a href="/">Overview</a>
            </li>
            <li >
              <a href="#">Create Project</a>
            </li>
            <li >
              <a href="#">Project Status</a>
            </li>
            <li >
              <a href="#">Agreement Review</a>
            </li>

            <li class="nav-header">Members Area</li>
            <li >
              <a href="#">
                Main
              </a>
            </li>
            <li >
              <a href="#">Member Company</a>
            </li>
            <li>
              <a href="#docsModal" data-toggle="modal">
                Member Contacts
              </a>
            </li>
          </ul>
          <hr class="visible-xs m-t">
        </div>
      </nav>
    </div>
