<!DOCTYPE html>
<html>
    <head>
        <title>Integration Console</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href=".">

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->

        <!-- Dark UI version -->
        <!-- <link href="assets/css/toolkit-inverse.css" rel="stylesheet"> -->
        <!-- Ligth UI version -->
        <link href="assets/css/toolkit-light.css" rel="stylesheet">
        <link href="assets/css/application.css" rel="stylesheet">
        <link href="assets/css/dropzone/basic.css" rel="stylesheet">
        <link href="assets/css/dropzone/dropzone.css" rel="stylesheet">

        <script src="assets/js/jquery.min.js"></script>
    </head>
<body class="with-top-navbar">
  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #fafafb;">
    <div class="container-fluid container-fluid-spacious">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-brand-emphasized" href="/">
          <a class="sidebar-brand img-responsive" href="/" >
            <img style="height: 50px; padding: 10px" src="/assets/img/lf_logo.png" alt=""/>
          </a><br><br>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <%- include('nav') %>
        <div class="header-email">
          <% if (req.session.user.isAdmin) { %>
            || <a href="/admin">User Management</a>  ||
            ADMIN:
          <% } %>
          <% if (req.session.user.isProjectManager) { %>
            MANAGER:
          <% } %>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= req.session.user.attributes.mail %></a></a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
  <div class="row">
