<!DOCTYPE html>
<html>
  <head>
    <title>Integration Console</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href=".">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="/assets/dist/all.min.css" rel="stylesheet">
    <script src="/assets/dist/jquery.min.js"></script>
    <script src="/assets/dist/all.min.js"></script>
    <style>
      body {
        background: url(../assets/img/boat.jpeg) no-repeat center center fixed #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <div class="row">
