<!DOCTYPE html>
<html>
    <head>
        <title>Integration Console</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href=".">

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css"> -->

        <!-- Dark UI version -->
        <!-- <link href="assets/css/toolkit-inverse.css" rel="stylesheet"> -->
        <!-- Ligth UI version -->
        <link href="assets/css/toolkit-light.css" rel="stylesheet">
        <link href="assets/css/application.css" rel="stylesheet">
    </head>
<body>
  <div class="container">
  <div class="row">
