<div id="create-mailing-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <form class="" action="/mailing/<%= project.id %>" method="post">
      <div class="modal-content">
        <div class="modal-header-listing">
          <button type="button" class="close-modal" data-dismiss="modal" style="color: #fff;" aria-label="Close"><span aria-hidden="true" style="color:#fff">X</span></button>
          <div class="modal-title-mailing">
            <span id="myModalLabel">Create a Mailing List for <%= project.name %> </span>
          </div>
        </div>
        <div class="modal-subheader-listing">
          <div class="modal-subheader-title">
            <span style="color:#11ABDE">| </span>
            <input type="text" name="mailing_name" id="mailing_name" placeholder="Add New Mailing List Title"class="modal-subheader-title-input">
          </div>
        </div>
        <div class="modal-body-mailing">
          <form class="" action="/mailing/<%= project.id %>" method="post">
          <input type="hidden" name="project_id" id="project_id"  value="">
          <br>
          <div class="">
            <span style="margin-left: 30px;">Subscribe Policy:</span>
            <div class="radio-inline custom-control custom-radio" >
              <label>
                <input type="radio" name="subscribe_policy_radio" value="OPEN" checked>
                <span class="custom-control-indicator"></span>
                Open
              </label>
            </div>
            <div class="radio-inline custom-control custom-radio" >
              <label>
                <input type="radio" name="subscribe_policy_radio" value="CONFIRM">
                <span class="custom-control-indicator"></span>
                Confirm
              </label>
            </div>
            <div class="radio-inline custom-control custom-radio" >
              <label>
                <input type="radio" name="subscribe_policy_radio" value="APPROVAL">
                <span class="custom-control-indicator"></span>
                Approval
              </label>
            </div>
            <div class="radio-inline custom-control custom-radio" >
              <label>
                <input type="radio" name="subscribe_policy_radio" value="CONFIRM_AND_APPROVAL">
                <span class="custom-control-indicator"></span>
                Confirm and Approval
              </label>
            </div>
            <br><br>
            <span style="margin-left: 30px;">Archive Policy:</span>
            <div class="radio-inline custom-control custom-radio">
              <label>
                <input type="radio" name="archive_policy_radio" value="PUBLIC">
                <span class="custom-control-indicator"></span>
                Public
              </label>
            </div>
            <div class="radio-inline custom-control custom-radio">
              <label>
                <input type="radio" name="archive_policy_radio" value="PRIVATE" checked>
                <span class="custom-control-indicator"></span>
                Private
              </label>
            </div>
          </div>
          <div class="modal-body-mailing-list-admin">
            <br>
            <span style="margin-left:12px;">Mailing List Admin</span>
            <input type="text" name="mailing_email_admin" id="mailing_email_admin" class="domain-project-edit" placeholder="admin@business.com">
            <br><br>
            <span style="margin-left:12px;">Mailing List Password</span>
            <input type="password" name="mailing_password" id="mailing_password" class="domain-project-edit" placeholder="a_secret_password">
          </div>
          <div class="container-fluid">
            <div class="col-sm-12 content mailing-list-project">
              <div class="button-save-changes-edit-project-div">
                <input type="submit" class="button-save-changes-edit-project" value="Save">
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
