<link href="/assets/css/typeahead.css" rel="stylesheet">
<script src="/assets/js/typeahead.bundle.js"></script>

<div id="manage-email-alias-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-listing">
        <div class="modal-title-mailing">
          <span id="myModalLabel">MANAGE EMAIL ALIAS</span>
        </div>
        <button type="button" class="close-modal" data-dismiss="modal" style="color: #fff;" aria-label="Close">
          <span aria-hidden="true" style="color:#fff">X</span>
        </button>
      </div>
      <div class="modal-body-mailing">
        <br>
        <div name="email-alias-title" class="manage-email-alias-modal-title">
          Email Alias Participants
        </div>
        <div class="modal-body-mailing-list-admin">
          <br>
          <div id="participants_div">
          </div>
          <br>
        </div>
        <form class="" action="/addParticipantToEmailAlias/<%= project.id %>" method="post">
          <div class="col-sm-12 content">
            <div class="col-sm-12 content">
              <input type="text" name="participant_email" class="modal-email-address-input" placeholder="Add Participant Email Address">
              <input type="hidden" id="alias_id" name="alias_id">
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <div class="col-sm-12 content">
                <input type="submit" class="btn btn-primary" style="margin-top:30px; margin-bottom:40px; width:30%" value="Add">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#manage-email-alias-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var participants = button.data('participants');
    var emailAlias = button.data('email-alias');
    var emailAliasId = button.data('email-alias-id');
    var modal = $(this);
    modal.find('[name=email-alias-title]').text(emailAlias  + " participants");
    $('#alias_id').val(emailAliasId);
    $("#participants_table").remove();
    $('#participants_div').append(  '<table id="participants_table" class="table" />' );
    $('#participants_div table')
    .append( '<tr>' +
      '<td><strong>Email</strong></td>'+
      '<td><strong>Remove</strong></td>'+
    '</tr>' );
    if(participants.length >= 1){
      for(i=0; i<participants.length; i++){
        $('#participants_div table')
        .append( '<tr>'+
          '<td>' + participants[i].address + '</td>' +
          '<td> &nbsp  &nbsp &nbsp <a href="/removeParticipantFromEmailAlias/<%= project.id %>/' +
          emailAliasId + '/' + encodeURI(participants[i].address) + '"> &times; </a> </td>' +
        '</tr>' );
      }
    }
  });
</script>
