<ul class="nav navbar-nav">
  <li>
    <a href="/" class="navbar-nav-heading">HOME</a>
  </li>
  <li >
    <a href="/my_projects" class="navbar-nav-heading-dark">MY PROJECTS (
      <% if (req.session.myProjects) {  %>
        <%= req.session.myProjects.length %>
      <% } else { %>
        0
      <%  } %>
      )
    </a>
  </li>
  <li >
    <a href="/" class="navbar-nav-heading-dark">
      ALL PROJECTS (
      <% if (req.session.projects) {  %>
        <%= req.session.projects.length %>
      <% } else { %>
        0
      <%  } %>
      )
    </a>
  </li>
</ul>
