<br>
<ul class="nav nav-pills nav-stacked">

  <li class="nav-header">LF Console</li>
  <!-- <li class="active">
    <a href="/">Active</a>
  </li> -->
  <li>
    <a href="/">Overview</a>
  </li>

  <li >
    <a href="/create_project">Create Project</a>
  </li>
  <!-- <li >
    <a href="#">Project Status</a>
  </li>
  <li >
    <a href="#">Agreement Review</a>
  </li> -->

  <li class="nav-header">Members Area</li>
  <li>
    <a href="/profile">My Profile</a>
  </li>
  <!-- <li >
    <a href="#">Member Company</a>
  </li>
  <li>
    <a href="#docsModal" data-toggle="modal">
      Member Contacts
    </a>
  </li> -->

</ul>
