
<ul class="nav navbar-nav">

  <!-- <li class="active">
    <a href="/">Active</a>
  </li> -->
  <li>
    <a href="/" class="navbar-nav-heading">HOME</a>
  </li>
  <li >
    <a href="/" class="navbar-nav-heading-dark">MY PROJECTS (6)</a>
  </li>
  <li >
    <a href="/all_projects" class="navbar-nav-heading-dark">ALL PROJECTS (<%= req.session.projects.length %>)</a>
  </li>
  <!-- <li >
    <a href="/create_project">Create Project</a>
  </li> -->
  <!-- <li >
    <a href="#">Project Status</a>
  </li>
  <li >
    <a href="#">Agreement Review</a>
  </li> -->

  <!-- <li>
    <a href="/profile">My Profile</a>
  </li> -->
  <!-- <li >
    <a href="#">Member Company</a>
  </li>
  <li>
    <a href="#docsModal" data-toggle="modal">
      Member Contacts
    </a>
  </li> -->

</ul>
