// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

cla-gerrit-modal {
  ion-item {
    position: relative;
  }

  .github-label {
    position: absolute;
    right: 0;
    top: 20px;

    b {
      font-weight: 100;
    }
  }

  .btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    margin-top: 50px;
    border-top: 1px solid lightgray;
  }
}
