"""
Rename this file to cla_config.py and put it at the root of your CLA system application in order to
use it as your default configuration. It will override any configuration options found in
the default CLA system configuration file located at cla/config.py.
"""

DEBUG = True # Debug on for development purposes.

BASE_URL = 'https://your.cla.domain.com' # Base URL used for callbacks and OAuth2 redirects.
# Default callback once signature is completed - a custom endpoint can be provided if needed.
SIGNED_CALLBACK_URL = BASE_URL + '/v1/signed'
ALLOW_ORIGIN = '*' # The CORS Access-Control-Allow-Origin response header value for requests.

# Define the database we are working with.
DATABASE = 'DynamoDB' # TODO: Should use in-memory database as default.
DATABASE_HOST = 'http://localhost:50458'

# Define the key-value store used.
KEYVALUE = 'Memory'
KEYVALUE_HOST = ''

# DynamoDB-specific configurations - this is applied to each table.
DYNAMO_REGION = 'us-west-2'
DYNAMO_WRITE_UNITS = 1
DYNAMO_READ_UNITS = 1

# Define the signing service to use.
SIGNING_SERVICE = 'DocuSign'
DOCUSIGN_ROOT_URL = 'https://demo.docusign.net/restapi/v2' # This is the demo endpoint.
DOCUSIGN_USERNAME = '' # DocuSign Email or UUID.
DOCUSIGN_PASSWORD = '' # Account Password.
DOCUSIGN_INTEGRATOR_KEY = '' # Integrator Key UUID.

# GitHub Application Service.
GITHUB_OAUTH_CLIENT_ID = 'client_id'
GITHUB_OAUTH_SECRET = 'secret'
GITHUB_APP_WEBHOOK_SECRET = 'secret'
GITHUB_APP_PRIVATE_KEY_PATH = 'private-key-path'
GITHUB_APP_ID = 'app_id'
GITHUB_MAIN_INSTALLATION_ID = 'main_installation_id'

# KeyCloak Authentication
KEYCLOAK_ENDPOINT = ''

# CINCO (SFDC) Authentication
CINCO_ENDPOINT = ''

# Email Service.
EMAIL_SERVICE = 'SMTP' # SMTP is useful for testing with MailHog or the like.

# SMTP Configuration.
SMTP_SENDER_EMAIL_ADDRESS = 'donotreply@cla.system'
SMTP_HOST = 'localhost'
SMTP_PORT = '25'

# Storage service.
STORAGE_SERVICE = 'LocalStorage'

# Local Storage Configuration.
LOCAL_STORAGE_FOLDER = '/tmp/cla' # Storage of uploaded agreements - change to persistent location.
