cla-company-admin-send-email-modal {
  .field-notice {
    font-size: 1.2rem;
    color: #999;
    text-align: right;
  }
  .toolbar-title .member-company {
    font-weight: normal;
  }

  .error {
    color: red;
    font-size: 12px;
  }

  .input-forward-button {
    margin-top: 2.6rem;
  }

  .field-description {
    margin-top: 0.3rem;
    padding-left: 16px;
    font-size: 1.2rem;
    color: #999;
  }
}
