// Move this to a shared css
body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.button-md-secondary {
  box-shadow: none;
}

.namespace-error {
  margin-top: 5px !important;
  color: #db4e4e !important;
}

.button-md-light {
  box-shadow: none;
  background-color: transparent;
  color: #4c79b6;
}

ion-icon.icon-md {
  font-size: 25px !important;
}

ion-icon.icon-sm {
  font-size: 20px !important;
}

.toolbar {
  color: #7b7b7b;
  background-color: white;

  ion-icon {
    color: #7b7b7b;
    line-height: 6px;

    &:before {
      font-size: 19px;
    }
  }
}

project-cla {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  .navbar-logo {
    width: 100px;
    position: absolute;
    left: calc(50% - 20px);
    top: 30%;
  }

  ion-header {
    border-bottom: 40px solid #4c79b6;
  }

  .page-content {
    min-height: calc(100vh - 200px);
    padding: 10px 10px;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }

  .scroll-content {
    margin-top: 96px !important;
  }

  .toolbar .toolbar-title {
    font-size: 15px;
    cursor: pointer;
  }

  .project-detail-card {
    background-color: white;
  }

  .project-detail-card-header {
    padding: 15px 40px;
    border-bottom: 1px solid lightgray;

    .project-title {
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        color: #7b7b7b;
      }

      ion-icon {
        font-size: 20px;
        color: #7b7b7b;
      }
    }
  }

  .contract-card,
  .organization-card {
    h1 {
      color: #7b7b7b;
    }

    ion-card-title {
      color: #7b7b7b;
      margin-bottom: 0;
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
        font-size: 20px;
      }
    }

    ion-card-content {
      padding-left: 70px;
      padding-right: 30px;
    }

    .contract-details {
      color: #7b7b7b;
      padding-left: 23px;
      padding-top: 0;
    }
  }

  .content {
    background-color: #f1f3f3;
  }

  ion-grid.project-grid {
    padding: 0 50px 50px !important;
  }

  ion-card {
    box-shadow: none !important;
  }

  .no-claProjects {
    text-align: center;
    ion-icon {
      font-size: 80px;
    }
  }

  .contract-title-buttons {
    button img {
      height: 24px;
      width: auto;
    }
  }

  .add-organizations {
    text-align: center;
    width: 100%;
  }

  .contract-group {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #888;
    .header-row {
      display: flex;
      align-items: center;
      h2 {
        margin: 0;
      }
      ion-buttons[start] {
        flex-grow: 1;
      }
    }
  }

  .organizations ion-card {
    position: relative;
  }

  .organization-actions {
    position: absolute;
    top: 0;
    right: 25px;
  }

  .gerrit-actions {
    position: absolute;
    top: 0;
    right: 25px;
  }

  .mt-30 {
    margin-top: 30px;
  }

  .project-row {
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .code_snippet {
    padding: 15px;
    background-color: #f3f3f3;
    font-family: monospace;
    margin-top: 20px;
    font-size: 10px;
  }

  small {
    margin-top: 20px;
    display: block;
  }
  ion-footer {
    position: relative;
  }
}

.section-title {
  padding: 10px 47px;
  margin-top: 2em;
  color: #7b7b7b;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
  }
}

h2 {
  font-size: 2rem !important;
  color: #7b7b7b !important;
}

.not-configured-warning {
  // margin-top: -5px !important;
  color: #db4e4e !important;

  a {
    text-decoration: underline;
    color: #db4e4e !important;
    cursor: pointer;
  }
}

.align-items-center {
  text-align: center;
}
