project-page {
  .page-content {
    min-height: calc(100vh - 200px);
    padding: 10px 10px;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }
  .scroll-content {
    margin-top: 96px !important;
  }

  .manager {
    display: flex;
    align-items: center;
  }

  .manager-details {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 100%;

    h3 {
      font-size: 16px;
    }
  }

  .manager-name {
    display: flex;
    justify-content: space-between;
  }

  .managers-card {
    position: relative;
    padding-bottom: 75px;
  }

  .add-manager-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;

    ion-icon:before {
      color: white;
    }
  }

  ion-header {
    border-bottom: 0px solid #4c79b6;

    .toolbar {
      color: #7b7b7b;
      background-color: white;
      height: 100px;

      ion-icon {
        color: #7b7b7b;
        line-height: 6px;

        &:before {
          font-size: 19px;
        }
      }
    }

    .navbar-logo {
      position: absolute;
      left: calc(50% - 20px);

      margin: -30px 0 -18px -138px;
      width: 300px;
      padding: 1rem;
    }
  }


  .delete-btn {
    font-size: 12px;
    color: #db4e4e;
    cursor: pointer;
  }

  .error-message {
    font-size: 12px;
    color: #db4e4e;
  }

  .table-responsive-vertical {
    margin-top: 30px;
  }

  button.clickable,
  button.fab {
    background-color: #4c79b6 !important;
  }

  ion-footer {
    position: relative;
  }
}
