/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */

.landing-page-container {
    transition: margin 0.3s;
    margin-top: 40px;
    padding: 25px 0;
    min-height: calc(100vh - 182px);
    &.expanded {
        margin-top: 105px;
        min-height: calc(100vh - 247px);
    }
}

