// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.cla-title {
  width: 100%;
  font-size: 30.6px;
  line-height: 40.8px;
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
  color: #444;
}

.cla-subtitle {
  color: #444;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.cla-paragraph {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #676767;

  span {
    font-weight: 800;
    padding-right: 0.3rem;
  }
}

.cla-list-wrapper {
  margin-left: 30px;
}


.cla-list::before {
  font-family: 'FontAwesome';
  content: '\f058';
  margin: 0px 5px 0px -15px;
  color: #0099ee;
  list-style-type: none;
}

.cla-list {
  margin-bottom: 15px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.cla-list span {
  line-height: 22px;
  color: #676767;
}
