// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.cla-step-col h4 {
  font-size: 28px;
  font-family: 'Work Sans';
  margin-bottom: 8px;
  line-height: 32px;
  color: #444;
}

.cla-step-col {
  font-family: 'Work Sans', sans-serif;
  color: #676767;
  padding: 0 0.5rem;
  .center-item {
    text-align: center;
  }
  .nectar_icon_wrap {
    margin-bottom: 20px;
  }
  .nectar_icon {
    padding: 20px;
  }
  
  .nectar_icon i {
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    color: #0099ee
  }
}

.cla-step-col p {
  padding-bottom: 27px;
  text-align: center;
}

.cla-step-col i {
  font-size: 50px; 
  line-height: 50px; 
  height: 50px;
   width: 50px;
}

.cla-step-section-title {
  width: 100%;
  font-size: 30.6px;
  line-height: 40.8px;
  margin-bottom: 10px;
}

.cla-step-row p {
  padding-bottom: 27px; 
  font-family: 'Work Sans', sans-serif;
}
