// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.diagram-wrapper {
  margin: 2rem auto;
  text-align: center;

  img {
    width: 60%;
  }
}
