// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.cla-footer {
  background-color: #252525;
  line-height: 22px;
  
  p {
    padding: 3rem;
    text-align: center;
    color: #cccc;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
  }

  a {
    color: #cccc;
    padding: 0 0.2rem;

    &:hover {
      color: #0099ee;
    }
  }
}
