// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.how-cla-works {
  padding: 2rem 0;

  p {
    padding-bottom: 27px;
    font-size: 16px;
    color: #676767;
    font-family: 'Work Sans', sans-serif;
  }

}