header {
  background-color: rgba(0,51,102,100);
  display: flex;
  align-items: center;
  height: 80px;

  .header-row {
    width: 100%;
  }

  li {
    list-style: none;
  }

  nav {
    display: flex;
    align-items: center;
  }
}

.linux-button  {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  a {
    font-family: 'Open Sans';
    color: #fff;
  }
  

}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand img {
  width: 200px;
}

.header-left-column {
  .header-navs {
    display: flex;
    align-items: center;
    margin-left: 25px;

    a {
      color: white;
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 19.6px;
      margin: 0 10px;
      -webkit-transition: all 2s; /* Safari prior 6.1 */
      transition: all 0.5s;

      &:hover {
        border-bottom: 2px solid #fff;
        padding-bottom: 0.2rem;
      }
    }
  }
}

.header-right-column {
  .header-navs {
    display: flex;
    align-items: center;
    margin-left: 25px;

    a {
      color: white;
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 19.6px;
      margin: 0 10px;
    }

  }

  i {
    color: #fff;
  }
}


