// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

activity-log {
  .toolbar-select {
    display: flex;
    margin-right: 8px;
    ion-select {
      position: relative;
      max-width: none;
      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid white;
        position: absolute;
        bottom: 13px;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }

  .tabular-head,
  .tabular-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabular-head ion-col {
    font-weight: 600;
    color: #757575;
  }

  .tabular-row ion-col {
    padding: 1.6rem;
  }

  .tabular-row {
    border-bottom: 1px solid #dcdcdc;
  }

  .tabular-body .tabular-row:hover > ion-col {
    background-color: rgba(0, 0, 0, 0.12);
  }


}
