cla-employee-company-confirm {
  loading-spinner.submit {
    .container {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  .scroll-content {
    margin-top: 96px !important;
  }

  .project-title {
    font-size: 25px;
  }

  .page-content {
    min-height: calc(100vh - 258px);
    margin-top: 25px;
    transition: margin 0.3s;

    &.expanded {
      min-height: calc(100vh - 333px);
      margin-top: 100px;
    }

  }
}
