project-navigation {
  display: block;
  .project-navigation {
    &__wrapper {
      position: relative;
      background-color: #4b4b4b;
      height: 64px; /* should be the height of the navigation items */
      color: #fff;
    }

    &__container {
      position: absolute;
      top: 0;
      left: 45px;
      width: calc(100% - 2 * 48px);
      height: 100%;
      overflow: hidden;
      color: #fff;
    }

    &__navigation {
      width: 100%;
      height: 85px; /* extra padding for scrollbar */
      flex-shrink: 0;
      overflow-x: auto;
      overflow-y: hidden;
      user-select: none;
      margin-bottom: -16px;
      display: flex;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .spacer {
      flex-grow: 1;
    }

    &__link {
      padding: 0 12px;
      opacity: .65;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 64px;
      color: #fff;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      display: flex;
      flex-shrink: 0;
      user-select: inherit;
      height: 64px;
      text-decoration: none;
      margin: 0;
      letter-spacing: 0;
    }

    &__link.active {
      opacity: 1;
      border-bottom-color: #18FFFF;
    }

    .scrollindicator {
      display: block;
      position: absolute;
      top: 0;
      line-height: 64px;
      height: 64px;
      width: 48px;
      margin-right: 0;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }
    .scrollindicator.disabled {
      opacity: .12;
      cursor: default;
    }
    .scrollindicator--right {
      right:0;
    }
    .scrollindicator--left {
      left: 0;
    }
  }
}

header {
  project-navigation {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -16px;
  }
}
