<%- include('partials/header') %>

<form method="post" action="/add_company" enctype="multipart/form-data">

  <% if(locals.projectId) { %>
    <input type="hidden" name="project_id" value="<%= projectId %>">
  <% } %>
  <div class="main-header-project-edit">
    <div class="project-logo-project-edit-main">
      <div class="project-logo-project-edit" id="logoRef">
        <div style="position: relative;">
          <div class="project-logo-project-edit-inside" style="position: absolute;" >
            <a href="#" onclick="document.getElementById('logo').click(); return false;" /> UPLOAD LOGO </a>
            <input type="file" accept="image/*" name='logoCompany' id="logo" style="visibility: hidden;" />
          </div>
          <img id="previewLogo" src="#" alt="LogoRef" style="width: 100%; display: none;">
        </div>
      </div>
      <div class="image-message-project-edit">
        Add .jpg, .png, or vector image files under 1 mb
      </div>
    </div>
    <div class="main-header-title-project-edit">
      <span style="color:#11ABDE">| </span>
      <input class="main-header-title-project-input" type="text" name="company_name" value="" placeholder="Add Your Company Name">
    </div>
    <div class="last-edited-project-edit">
      EDITING COMPANY CONTACTS -  Last saved 1:05 PM
    </div>
  </div>
  <div class="hr-divider-keyline"></div>
  <div class="white-subheader">
    <a>
      <div class="content-subheader-project">
        <div class="button-title-add-company">VIEW MEMBERSHIP AGREEMENT</div>
      </div>
    </a>
    <button class="save-button-project-edit" type="submit">
        <strong>SAVE</strong>
    </button>
  </div>
  <div class="hr-divider-keyline"></div>
  <div class="col-sm-12">
    <br>
    <div class="subtitle-content-project">Company Info</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <br>
    <div class="col-sm-6 ">
      <div class="col-lg-12 ">
        <div class="subtitle-content-project">Headquarters Address</div>
        <div class="hr-divider-keyline"></div>
        <br>
      </div>
      <div class="col-lg-12 ">
        <input type="text" name="headquarters_address_line_1" class="domain-project-edit" placeholder="Address"> <br><br>
      </div>
      <div class="col-lg-12 " >
        <input type="text" name="headquarters_address_line_2" class="domain-project-edit" placeholder="Additional Address Information (suite, floor, etc.)"> <br><br>
      </div>
      <div class="col-lg-12 " style="padding: 0px; margin-left:10px;">
        <div class="col-lg-5 ">
          <input type="text" name="headquarters_city" class="textbox-add-company" placeholder="City">
        </div>
        <div class="col-lg-2">
          <input type="text" name="headquarters_state" class="textbox-add-company" placeholder="State">
        </div>
        <div class="col-lg-3">
          <input type="text" name="headquarters_country" class="textbox-add-company" placeholder="Country">
        </div>
        <div class="col-lg-2">
          <input type="text" name="headquarters_zip_code" class="textbox-add-company" placeholder="Zip Code">
        </div>
      </div>
      <div class="col-lg-12 " style="margin-top: 20px;">
        <div class="col-lg-5 " style="margin-left:-15px">
          <input type="text" name="headquarters_phone" class="domain-project-edit" placeholder="Phone number"> <br><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="col-lg-12 ">
        <div class="subtitle-content-project">Billing Address</div>
        <div class="hr-divider-keyline"></div>
        <br>
      </div>
      <div class="col-lg-12 ">
        <input type="text" name="billing_address_line_1" class="domain-project-edit" placeholder="Address"> <br><br>
      </div>
      <div class="col-lg-12 " >
        <input type="text" name="billing_address_line_2" class="domain-project-edit" placeholder="Additional Address Information (suite, floor, etc.)"> <br><br>
      </div>
      <div class="col-lg-12 " style="padding: 0px; margin-left:10px;">
        <div class="col-lg-5 ">
          <input type="text" name="billing_city" class="textbox-add-company" placeholder="City">
        </div>
        <div class="col-lg-2">
          <input type="text" name="billing_state" class="textbox-add-company" placeholder="State">
        </div>
        <div class="col-lg-3">
          <input type="text" name="billing_country" class="textbox-add-company" placeholder="Country">
        </div>
        <div class="col-lg-2">
          <input type="text" name="billing_zip_code" class="textbox-add-company" placeholder="Zip Code">
        </div>
      </div>
      <div class="col-lg-12 " style="margin-top: 20px;">
        <div class="col-lg-5 " style="margin-left:-15px">
          <input type="text" name="billing_phone" class="domain-project-edit" placeholder="Phone number"> <br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <br><br><br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2">Contacts</div>
      <div class="col-sm-1">Bio</div>
      <div class="col-sm-7">Information</div>
      <div class="col-sm-1">Email Alias</div>
      <div class="col-sm-1">Headshot</div>
    </div>
    <br><br>
    <div class="hr-divider-keyline"></div>
    <br><br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">BOARD MEMBER</div>
      <div class="col-sm-1"><a>Add</a></div>
      <div class="col-sm-1"><input type="text" name="board_contact_first_name" class="domain-project-edit" placeholder="Lauren"></div>
      <div class="col-sm-1"><input type="text" name="board_contact_last_name" class="domain-project-edit" placeholder="Maxwell"></div>
      <div class="col-sm-3"><input type="text" name="board_contact_email" class="domain-project-edit" placeholder="lauren.maxwell@business.com"></div>
      <div class="col-sm-2"><input type="text" name="board_contact_phone" class="domain-project-edit" placeholder="Phone"></div>
      <div class="col-sm-1"><input type="text" name="board_contact_email_alias" class="domain-project-edit" placeholder="info@"></div>
      <div class="col-sm-1"><img src="assets/img/headshot.png" alt="" style="width:40px; margin-right:5px;  margin-left:-5px;" /><a><b>Add</b></a></div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">TECHNICAL (TSC)</div>
      <div class="col-sm-1"><a>Add</a></div>
      <div class="col-sm-1"><input name="technical_contact_first_name" type="text" class="domain-project-edit" placeholder="Jake"></div>
      <div class="col-sm-1"><input name="technical_contact_last_name" type="text" class="domain-project-edit" placeholder="Armstrong"></div>
      <div class="col-sm-3"><input name="technical_contact_email" type="text" class="domain-project-edit" placeholder="jake.armstrong@business.com"></div>
      <div class="col-sm-2"><input name="technical_contact_phone" type="text" class="domain-project-edit" placeholder="Phone"></div>
      <div class="col-sm-1"><input name="technical_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1"><img src="assets/img/headshot.png" alt="" style="width:40px; margin-right:5px;  margin-left:-5px;" /><a><b>Add</b></a></div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">MARKETING</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"><input name="marketing_contact_first_name" type="text" class="domain-project-edit" placeholder="First name"></div>
      <div class="col-sm-1"><input name="marketing_contact_last_name" type="text" class="domain-project-edit" placeholder="Last name"></div>
      <div class="col-sm-3"><input name="marketing_contact_email" type="text" class="domain-project-edit" placeholder="Email address"></div>
      <div class="col-sm-2"><input name="marketing_contact_phone" type="text" class="domain-project-edit" placeholder="Phone"></div>
      <div class="col-sm-1"><input name="marketing_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1"></div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">FINANCE</div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"><input name="finance_contact_first_name" type="text" class="domain-project-edit" placeholder="First name"></div>
      <div class="col-sm-1"><input name="finance_contact_last_name" type="text" class="domain-project-edit" placeholder="Last name"></div>
      <div class="col-sm-3"><input name="finance_contact_email" type="text" class="domain-project-edit" placeholder="Email address"></div>
      <div class="col-sm-2"><input name="finance_contact_phone" type="text" class="domain-project-edit" placeholder="Phone"></div>
      <div class="col-sm-1"><input name="finance_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1"></div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company"><input type="text" class="domain-project-edit" style="margin-left:-5px;" placeholder="Contact Type"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"><input name="extra_contact_first_name" type="text" class="domain-project-edit" placeholder="First name"></div>
      <div class="col-sm-1"><input name="extra_contact_last_name" type="text" class="domain-project-edit" placeholder="Last name"></div>
      <div class="col-sm-3"><input name="extra_contact_email" type="text" class="domain-project-edit" placeholder="Email address"></div>
      <div class="col-sm-2"><input name="extra_contact_phone" type="text" class="domain-project-edit" placeholder="Phone"></div>
      <div class="col-sm-1"><input name="extra_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1"></div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-12 content mailing-list-project">
      <div class="hr-divider-keyline-save"></div>
      <div class="discard-message-edit-project">x Discard Changes</div>
      <div class="button-save-changes-edit-project-div">
        <input type="submit" class="button-save-changes-edit-project" name="button" value="Save Changes" />
      </div>
      <div class="hr-divider-keyline-save"></div>
    </div>
  </div>

</form>

<script type="text/javascript">
  function readImgSrc(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#previewLogo').attr('src', e.target.result);
        document.getElementById('previewLogo').style.display = "block";
      }
      reader.readAsDataURL(input.files[0]);
    }
    else {
      document.getElementById('previewLogo').style.display = "none";
    }
  }
  $("#logo").change(function(){
    readImgSrc(this);
  });
</script>

<%- include('partials/footer') %>
