<%- include('partials/header') %>

<div class="main-header-project-edit">
  <div class="project-logo-project-edit">
    <div class="project-logo-project-edit-inside">
      UPLOAD LOGO
    </div>
  </div>

  <div class="main-header-title-project-edit">
    <span style="color:#11ABDE">|</span>Add Your Company Name
  </div>

  <div class="button-title-project-edit">
    EDIT
  </div>
  <div class="last-edited-project-edit">
    EDITING COMPANY CONTACTS -  Last saved 1:05 PM
  </div>
  <div class="image-message-project-edit">
    Add .jpg, .png, or vector image files under 1 mb
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Membership Status | <strong style="color:#044D74;"> Select </strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Agreement Status | <strong style="color:#044D74;">Select</strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Invoice Status | <strong style="color:#044D74;">Select</strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="button-title-add-company">VIEW MEMBERSHIP AGREEMENT</div>
  </div>
  <div class="save-button-project-edit">
    <strong>SAVE</strong>
  </div>
</div>
<div class="hr-divider-keyline"></div>


<div class="col-sm-12">
  <br>
  <div class="subtitle-content-project">Company Info</div>
  <div class="hr-divider-keyline"></div>
  <br>
  <div class="col-sm-2 "></div>
  <div class="col-sm-7 ">
    <br>
    <input type="text" name="name" class="domain-project-edit" value="Address"> <br><br>
    <input type="text" name="name" class="domain-project-edit" value="Addiotional Address Information (suite, floor, etc.)"> <br><br>
    <div style="margin-left:-5px">
      <div class="col-sm-5 ">
        <input type="text" name="name" class="textbox-add-company" value="City">
      </div>
      <div class="col-sm-2">
        <input type="text" name="name" class="textbox-add-company" value="State">  <br><br>
      </div>
      <div class="col-sm-3">
        <input type="text" name="name" class="textbox-add-company" value="Country">  <br><br>
      </div>
      <div class="col-sm-2">
        <input type="text" name="name" class="textbox-add-company" value="Zip Code">  <br><br>
      </div>
    </div>
    <div class="col-sm-5 " style="margin-left:-15px">
      <input type="text" name="name" class="domain-project-edit" value="Phone number"> <br><br>
    </div>

    <br> <br>
    <strong style="color: #333333;"></strong>
  </div>
  <div class="col-sm-3 "></div>
</div>

<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <div class="hr-divider-keyline"></div>
    <span class="discard-message-edit-project">x Discard Changes</span>
    <button type="button" class="button-save-changes-edit-project" name="button">Save Changes</button>
    <div class="hr-divider-keyline"></div>
  </div>
</div>




<%- include('partials/footer') %>
