<%- include('partials/header') %>

<div class="main-header-project-edit">
  <div class="project-logo-project-edit">
    <div class="project-logo-project-edit-inside">
      UPLOAD LOGO
    </div>
  </div>

  <div class="main-header-title-project-edit">
    <span style="color:#11ABDE">| </span>Untitled New Open Source Project
  </div>

  <div class="button-title-project-edit">
    EDIT
  </div>
  <div class="last-edited-project-edit">
    New Project -  Last saved 11:35 AM
  </div>
  <div class="image-message-project-edit">
    Add .jpg, .png, or vector image files under 1 mb
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class=" title-subheader-project">
      <span class="dropdown-toggle" data-toggle="dropdown">
        Project Type | <strong style="color:#044D74;"> Select </strong> <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1">Direct Funded</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Incorporated</a></li>
      </ul>
    </div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Budget Status | <strong style="color:#044D74;">Select</strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Agreement Status | <strong style="color:#044D74;">Select</strong></div>
    <div class="hr-divider-vertical"></div>
  </div>
  <div class="save-button-project-edit">
    <strong>SAVE</strong>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-12 content">
  <br>
  <div class="col-sm-3 content">
    <div class="subtitle-content-project">Email Aliases</div>
    <div class="add-edit-member-companies-label"><a href="#create-mailing-list-modal" data-toggle="modal">+ Add</a></div>
    <div class="hr-divider-keyline"></div>
    <br>
    <span style="font-style: italic;">Start configuring this project's aliases.</span>
  </div>
  <div class="col-sm-5 content">
    <div class="subtitle-content-project">Project Description</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <textarea class="description-project-edit">Add a brief description  0/2500</textarea>
    <br> <br>
    <strong style="color: #333333;"></strong>
  </div>
  <div class="col-sm-4 content">
    <div class="subtitle-content-project">Member Companies</div>
    <div class="add-edit-member-companies-label"><a href="/add_company">+ Add/Edit</a></div>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="member-company-project">
      <div class="col-sm-4 content">
          <img src="/assets/img/add_member.png" alt="" class="member-logo-project"/>
      </div>
      <div class="col-sm-8 content">
        <div class="member-company-name-label">Company Name</div>
        <div class="member-company-subheader-label">Active · 1 Contact | <a style="color:#11ABDE" href="/add_company">Add Contacts</a></div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 content">
  <br>
  <div class="col-sm-3 content"></div>
  <div class="col-sm-5 content">
    <div class="subtitle-content-project">Domain URL</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <input type="text" name="name" class="domain-project-edit" value="http://www.yourdomain.com">
    <br> <br>
    <strong style="color: #333333;"></strong>
  </div>
  <div class="col-sm-4 content"></div>
</div>

<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <div class="hr-divider-keyline"></div>
    <span class="discard-message-edit-project">x Discard Changes</span>
    <button type="button" class="button-save-changes-edit-project" name="button">Save Changes</button>
    <div class="hr-divider-keyline"></div>
  </div>
</div>

<div id="create-mailing-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-listing">
        <button type="button" class="close" data-dismiss="modal" style="color: #fff;" aria-label="Close"><span aria-hidden="true" style="color:#fff">X</span></button>
        <div class="modal-title-mailing">
          <span id="myModalLabel">CREATE A MAILING LIST</span>
        </div>
      </div>
      <div class="modal-subheader-listing">
        <div class="modal-subheader-title">
          <span>| Add New Mailing List Title</span>
        </div>
      </div>
      <div class="modal-body-mailing">
        <br>
        <div class="">
          <span style="margin-left: 30px;">List Type:</span>
          <div class="radio-inline custom-control custom-radio" >
            <label>
              <input type="radio" id="radio1" name="radio">
              <span class="custom-control-indicator"></span>
              Public
            </label>
          </div>
          <div class="radio-inline custom-control custom-radio" >
            <label>
              <input type="radio" id="radio2" name="radio">
              <span class="custom-control-indicator"></span>
              Private
            </label>
          </div>
          <span style="margin-left: 30px;">Membership Access:</span>
          <div class="radio-inline custom-control custom-radio">
            <label>
              <input type="radio" id="radio1" name="radio">
              <span class="custom-control-indicator"></span>
              Public
            </label>
          </div>
          <div class="radio-inline custom-control custom-radio">
            <label>
              <input type="radio" id="radio2" name="radio">
              <span class="custom-control-indicator"></span>
              Approval
            </label>
          </div>
        </div>
        <br>
        <div class="col-sm-12 content">
          <div class="col-sm-8 content">
            <input type="text" name="name" class="domain-project-edit" value="Include email aliases">
          </div>
          <div class="col-sm-4 content" style="margin-left:-25px;">
            <select class="custom-select custom-select-sm domain-project-edit" style="margin-left:0px;">
              <option>Select</option>
              <option>pr</option>
              <option>info</option>
              <option>legal</option>
              <option>events</option>
              <option>membership</option>
              <option>trademark</option>
              <option>tech</option>
              <option>contacts</option>
            </select>
          </div>
        </div>
        <br><br><br>
        <div style="text-align: center; margin-bottom:20px;">
          — or start by adding email addresses —
        </div>
        <div class="col-sm-12 content">
          <div class="col-sm-3 content">
            <input type="text" name="name" class="domain-project-edit" value="Jake">
          </div>
          <div class="col-sm-3 content">
            <input type="text" name="name" class="domain-project-edit" value="Armstrong">
          </div>
          <div class="col-sm-6 content">
            <input type="text" name="name" class="domain-project-edit" value="jake.armstrong@business.com">
          </div>
        </div>
        <div class="col-sm-12 content">
          <div class="col-sm-3 content">
            <input type="text" name="name" class="domain-project-edit" value="First Name">
          </div>
          <div class="col-sm-3 content">
            <input type="text" name="name" class="domain-project-edit" value="Last Name">
          </div>
          <div class="col-sm-6 content">
            <input type="text" name="name" class="domain-project-edit" value="Email address">
          </div>
        </div>
        <div class="modal-body-mailing-list-admin">
          <br>
          <span style="margin-left:12px;">Mailing List Admin(s)</span>
          <input type="text" name="name" class="domain-project-edit" value="(default) firstname.lastname@business.com,">
        </div>
        <div class="col-sm-12 content">
          <br>
          <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #5cb85c; float:right; margin-right:5%;">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
