<%- include('partials/header') %>

<form method="post" action="/create_project">

<div class="main-header-project-edit">
  <div class="project-logo-project-edit-main">
    <div class="project-logo-project-edit">
      <button class="project-logo-project-edit-inside">
        UPLOAD LOGO
      </button>
    </div>
    <div class="image-message-project-edit">
      Add .jpg, .png, or vector image files under 1 mb
    </div>
  </div>
  <div class="main-header-title-project-edit">
    <span style="color:#11ABDE">| </span>
    <input class="main-header-title-project-input" type="text" name="project_name" value="" placeholder="Untitled New Open Source Project">
  </div>
  <!-- <div class="button-title-project-edit">
    EDIT
  </div> -->
  <div class="last-edited-project-edit">
    NEW PROJECT -  Last saved 11:35 AM
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">
      <span class="dropdown-toggle" data-toggle="dropdown">
        Project Type | <strong style="color:#044D74;"> Select </strong> <span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1">Direct Funded</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1">Incorporated</a></li>
      </ul>
    </div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Agreement | <strong style="color:#044D74;"><a>Upload</a></strong></div>
    <div class="hr-divider-vertical"></div>
  </div>
  <div class="save-button-project-edit">
    <strong>SAVE</strong>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-12 content">
  <br>
  <div class="col-sm-3 content">
    <div class="subtitle-content-project">Email Aliases</div>
    <div class="add-edit-member-companies-label"><a href="#create-email-alias-modal" data-toggle="modal">+ Add</a></div>
    <div class="hr-divider-keyline"></div>
    <br>
    <span style="font-style: italic;">Start configuring this project's aliases.</span>
  </div>
  <div class="col-sm-5 content">
    <div class="subtitle-content-project">Project Description</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <textarea name="project_description" class="description-project-edit" placeholder="Add a brief description  0/2500"></textarea>
    <br> <br>
    <strong style="color: #333333;"></strong>
  </div>
  <div class="col-sm-4 content">
    <div class="subtitle-content-project">Member Companies</div>
    <div class="add-edit-member-companies-label"><a href="/add_company">+ Add/Edit</a></div>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="member-company-project">
      <div class="col-sm-3 content">
          <img src="/assets/img/add_member.png" alt="" class="member-logo-project"/>
      </div>
      <div class="col-sm-9 content">
        <div class="member-company-name-label">Company Name</div>
        <div class="member-company-subheader-label">Active · 1 Contact | <a style="color:#11ABDE" href="/add_company">Add Contacts</a></div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 content">
  <br>
  <div class="col-sm-3 content"></div>
  <div class="col-sm-5 content">
    <div class="subtitle-content-project">Domain URL</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <input type="text" name="url" class="domain-project-edit" placeholder="http://www.yourdomain.com">
    <br> <br>
    <strong style="color: #333333;"></strong>
  </div>
  <div class="col-sm-4 content"></div>
</div>

<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <div class="hr-divider-keyline-save"></div>
    <div class="discard-message-edit-project">x Discard Changes</div>
    <div class="button-save-changes-edit-project-div">
      <button type="submit" class="button-save-changes-edit-project" name="button">Save Changes</button>
      <!-- <input type="submit" value="Create User" class="btn btn-primary"> -->
    </div>
    <div class="hr-divider-keyline-save"></div>
  </div>
</div>

</form>

<%- include('partials/email_alias_modal') %>

<%- include('partials/footer') %>
