<%- include('partials/header') %>
<div class="main-header">
  <span class="main-header-title">
    Projects
  </span>
</div>
<div class="white-subheader">
  <div class="text-subheader">
    Welcome! Manage your projects:
  </div>
  <div class="add-project-title">
    <a href="/create_project">Add Project</a>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-12 content">
  <div class="row text-center">
    <div class="card">
      <a class="project-logo img-responsive card-new-img" href="/create_project">
        <br>
        <img alt=""/>
      </a>
      <br>
      <span class="add-a-new-project">Add a new project</span><br>
      <span class="card-content">
        NEW <br>
        Project Type | - <br>
        Project Status | - <br>
        Membership Tier | - <br>
      </span>
    </div>
    <div class="card">
      <br>
      <a class="project-logo img-responsive" href="/project?id=1KJ73l">
        <img src="/assets/img/test/logo1.png" alt=""/>
      </a>
      Uno Ltd.<br><br>
      <span class="card-content">
        NEW <br>
        Project Type | - <br>
        Project Status | - <br>
        Membership Tier | - <br>
      </span>
    </div>
    <div class="card">
      <br>
      <a class="project-logo img-responsive" href="/project?id=2CO89s">
        <img src="/assets/img/test/logo2.png" alt=""/>
      </a>
      Pyra Corp.<br><br>
      <span class="card-content">
        NEW <br>
        Project Type | - <br>
        Project Status | - <br>
        Membership Tier | - <br>
      </span>
    </div>
    <div class="card">
      <br>
      <a class="project-logo img-responsive" href="/project?id=3JL67d">
        <img src="/assets/img/test/logo3.png" alt=""/>
      </a>
      Umbrella Corp.<br><br>
      <span class="card-content">
        NEW <br>
        Project Type | - <br>
        Project Status | - <br>
        Membership Tier | - <br>
      </span>
    </div>
    <div class="card">
      <br>
      <a class="project-logo img-responsive" href="/project?id=4CL35y">
        <img src="/assets/img/test/logo4.png" alt=""/>
      </a>
      OCP Pty.<br><br>
      <span class="card-content">
        NEW <br>
        Project Type | - <br>
        Project Status | - <br>
        Membership Tier | - <br>
      </span>
    </div>

    <!-- <div class="statcard p-a-md text-center">
      <form action="/create_project">
        <button class="btn btn-lg btn-primary" type="submit" >
          <span class="icon icon-circle-with-plus"></span>
          <span>Create New Project</span>
        </button>
      </form>
    </div> -->

  </div>

  <hr class="m-t">
</div>
<%- include('partials/footer') %>
