<%- include('partials/header') %>
<div class="main-header">
  <span class="main-header-title">
    Projects
  </span>
</div>
<div class="white-subheader">
  <div class="text-subheader">
    Welcome! Manage your projects:
  </div>
  <div class="add-project-button">
    <a href="/create_project"> <span class="icon icon-circle-with-plus"></span> </a>
  </div>
  <div class="add-project-title">
    <a href="/create_project">Add Project</a>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-12 content">
  <div class="row text-center">
    <div class="card">
      <a class="project-logo img-responsive card-new-img" href="/create_project">
        <br>
        <br>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span style="font-size: 60px; color:#11abde;" class="icon icon-plus"></span>
        <img alt=""/>
      </a>
      <div class="card-title-new">Add a new project</div><br><br>
      <div class="card-content">
        NEW <br>
        Project Type | <strong style="color:#373A3C;"> — </strong>  <br>
        Project Status | <strong style="color:#373A3C;"> — </strong>  <br>
        Membership Tier | <strong style="color:#373A3C;"> — </strong>  <br>
      </div>
      <div class="card-line"></div>
      <span class="card-mailing">MAILING LISTS (0)<br><br></span>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=1KJ73l">
        <br>
        <img src="/assets/img/test/1KJ73l.png" alt=""/>
      </a>
      <span class="card-title">Zephyr Open Source Project<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:black;">-</strong> <br>
        Budget Status | <strong style="color:#C9302C;">Not Started</strong> <br>
        Agreement Status | <strong style="color:#C9302C;">Not Started</strong> <br>
        Membership Tier | <strong style="color:#006087;">Community</strong> <br>
      </div>
      <div class="card-line"></div>
      <span class="card-mailing">MAILING LISTS (2)<br><br></span>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=2CO89s">
        <br>
        <img src="/assets/img/test/2CO89s.png" alt=""/>
      </a>
      <span class="card-title">Longer Project Title Number ...<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:#474B4D;">Incorporated</strong> <br>
        Budget Status | <strong style="color:#F5A623;">In Progress - Delivered</strong> <br>
        Agreement Status | <strong style="color:#449D44;">Approved - Signed</strong> <br>
        Membership Tier | <strong style="color:#BBBBBB;">Platinum</strong> <br>
      </div>
      <div class="card-line"></div>
      <span class="card-mailing">MAILING LISTS (6)<br><br></span>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=3JL67d">
        <br>
        <img src="/assets/img/test/3JL67d.png" alt=""/>
      </a>
      <span class="card-title">Another Project Title<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:black;">Direct Fund</strong> <br>
        Budget Status | <strong style="color:#C9302C;">Not Started</strong> <br>
        Agreement Status | <strong style="color:#C9302C;">Not Started</strong> <br>
        Membership Tier | <strong style="color:navy;">Community</strong> <br>
      </div>
      <div class="card-line"></div>
      <span class="card-mailing">MAILING LISTS (4)<br><br></span>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=4CL35y">
        <br>
        <img src="/assets/img/test/4CL35y.png" alt=""/>
      </a>
      <span class="card-title">Fifth Published Project<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:#474B4D;">Incorporated</strong> <br>
        Budget Status | <strong style="color:#F5A623;">In Progress - Deliverd</strong> <br>
        Agreement Status | <strong style="color:#F5A623;">In Progress - Deliverd</strong> <br>
        Membership Tier | <strong style="color:#BBBBBB;">Silver</strong> <br>
      </div>
      <div class="card-line"></div>
      <span class="card-mailing">MAILING LISTS (5)<br><br></span>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=4CL35y" style="background-color: #eceeef;">
        <br>
        <img alt=""/ >
      </a>
      <span class="card-title">Project Title<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:black;">Direct Fund</strong> <br>
        Budget Status | <strong style="color:#C9302C;">Not Started</strong> <br>
        Agreement Status | <strong style="color:#C9302C;">Not Started</strong> <br>
        Membership Tier | <strong style="color:#B48357;">Gold</strong> <br>
      </div>
      <div class="card-line"></div>
      <span class="card-mailing">MAILING LISTS (3)<br><br></span>
    </div>

    <!-- <div class="statcard p-a-md text-center">
      <form action="/create_project">
        <button class="btn btn-lg btn-primary" type="submit" >
          <span class="icon icon-circle-with-plus"></span>
          <span>Create New Project</span>
        </button>
      </form>
    </div> -->

  </div>

  <hr class="m-t">
</div>
<%- include('partials/footer') %>
