<%- include('partials/header') %>
<div class="main-header">
  <span class="main-header-title">
    My Projects
  </span>
</div>
<div class="white-subheader">
  <div class="text-subheader">
    Welcome! Manage your projects:
  </div>
  <div class="add-project-button">
    <a href="/create_project"> <span class="icon icon-circle-with-plus"></span> </a>
  </div>
  <div class="add-project-title">
    <a href="/create_project">Add Project</a>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-12">
  <div class="text-center">
    <div class="card">
      <a style="height: 136px;" class="project-logo img-responsive card-new-img" href="/create_project">
        <br>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span style="font-size: 60px; color:#11abde;" class="icon icon-plus"></span>
        <img alt=""/>
      </a>
      <div class="card-title-new">Add a new project</div><br><br>
      <div class="card-content">
        NEW <br>
        Project Type | <strong style="color:#373A3C;"> — </strong>  <br>
        Project Since | <strong style="color:#373A3C;"> — </strong>  <br>
        Program Manager | <strong style="color:#373A3C;"> — </strong>  <br>
      </div>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=1KJ73l">
        <br>
        <img src="/assets/img/test/1KJ73l.png" alt=""/>
      </a>
      <span class="card-title">Zephyr Open Source Project<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:black;">-</strong> <br>
        Project Since | <strong style="color:#009900;">Jul 31, 2016 </strong> <br>
        Program Manager | <strong style="color:#000099;">John Doe</strong> <br>
      </div>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=2CO89s">
        <br>
        <img src="/assets/img/test/2CO89s.png" alt=""/>
      </a>
      <span class="card-title">Longer Project Title Number ...<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:#474B4D;">Incorporated</strong> <br>
        Project Since | <strong style="color:#009900;">Aug 10, 2016 </strong> <br>
        Program Manager | <strong style="color:#000099;">Lane Meyer</strong> <br>
      </div>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=3JL67d">
        <br>
        <img src="/assets/img/test/3JL67d.png" alt=""/>
      </a>
      <span class="card-title">Another Project Title<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:black;">Direct Fund</strong> <br>
        Project Since | <strong style="color:#009900;">Jul 28, 2016 </strong> <br>
        Program Manager | <strong style="color:#000099;">John Doe</strong> <br>
      </div>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=4CL35y">
        <br>
        <img src="/assets/img/test/4CL35y.png" alt=""/>
      </a>
      <span class="card-title">Fifth Published Project<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:#474B4D;">Incorporated</strong> <br>
        Project Since | <strong style="color:#009900;">Aug 5, 2016 </strong> <br>
        Program Manager | <strong style="color:#000099;">Lane Meyer</strong> <br>
      </div>
    </div>
    <div class="card">
      <a class="project-logo img-responsive" href="/project?id=4CL35y" style="background-color: #eceeef;">
        <br>
        <img alt=""/ >
      </a>
      <span class="card-title">Project Title<br><br></span>
      <div class="card-content">
        ACTIVE · Published Jul 22, 2016 · 2 Members<br>
        Project Type | <strong style="color:black;">Direct Fund</strong> <br>
        Project Since | <strong style="color:#009900;">Jul 25, 2016 </strong> <br>
        Program Manager | <strong style="color:#000099;">John Doe</strong> <br>
      </div>
    </div>

    <!-- <div class="statcard p-a-md text-center">
      <form action="/create_project">
        <button class="btn btn-lg btn-primary" type="submit" >
          <span class="icon icon-circle-with-plus"></span>
          <span>Create New Project</span>
        </button>
      </form>
    </div> -->

  </div>

  <hr class="m-t">
</div>
<%- include('partials/footer') %>
