<%- include('partials/loginHeader') %>
  <div class="col-sm-12 content">
    <div class="text-center">
      <br />
      <br />
      <br />
      <img src="/assets/img/lf_logo.png" alt="" class="img-responsive" style="width: 300px;  display: block; margin-left: auto; margin-right: auto;"/>
      <br />
      <form action="/login_cas">
        <button class="btn btn-primary" type="submit" >
          <span class="icon icon-login"></span>
          Sign in
        </button>
      </form>
    </div>
  </div>
<%- include('partials/footer') %>
