<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="add-project-content">
  <form [formGroup]="projectForm" (submit)="submitNewProject()">
    <ion-grid >
      <ion-row>
        <ion-col col-12>
          <div class="logo-placeholder" text-center>
            <ion-icon class="image-icon" name="image"></ion-icon>
            <div class="change-placeholder">
              <ion-label (click)="changeLogo()">ADD</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          <ion-item >
            <ion-label floating>Project Title</ion-label>
            <ion-input type="text" formControlName="name" name="name"  [(ngModel)]="project.name"></ion-input>
          </ion-item>
          <ion-item *ngIf="!projectForm.controls.name.valid && (projectForm.controls.name.dirty || submitAttempt)" no-lines>
            <p>* A name for your project is required.</p>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>* Date Launched</ion-label>
            <ion-input  formControlName="startDate"  name="startDate" class="hotfix" [(ngModel)]="project.startDate" ></ion-input>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="startDate" name="startDate" [(ngModel)]="project.startDate" ></ion-datetime>
          </ion-item>
          <ion-item *ngIf="!projectForm.controls.startDate.valid && (projectForm.controls.startDate.dirty || submitAttempt)" no-lines>
            <p>* A start date for your project is required.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>* Membership Status</ion-label>
            <ion-select formControlName="status" name="status" [(ngModel)]="project.status" interface="popover">
              <ion-option value="ACTIVE">Active</ion-option>
              <ion-option value="PLANNED">Planned</ion-option>
              <ion-option value="COMPLETE">Complete</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>* Project Type</ion-label>
            <ion-select formControlName="category" name="category" [(ngModel)]="project.category" interface="popover">
              <ion-option value="DIRECT_FUNDED">Direct Funded</ion-option>
              <ion-option value="INCORPORATED">Incorporated</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>* Project Sector</ion-label>
            <ion-select formControlName="sector" name="sector" [(ngModel)]="project.sector" interface="popover">
              <ion-option value="APP_PLATFORMS">Application Platforms</ion-option>
              <ion-option value="BLOCKCHAIN">Blockchain</ion-option>
              <ion-option value="CLOUD_AND_VIRTUAL">Cloud & Virtualization</ion-option>
              <ion-option value="CORE_AND_OS">Core & Operating Systems</ion-option>
              <ion-option value="DATA_AND_ANALYTICS">Data & Analytics</ion-option>
              <ion-option value="EMBED_AND_IOT">Embedded and IoT</ion-option>
              <ion-option value="NETWORKING_AND_COMM">Networking and Communications Infrastructure</ion-option>
              <ion-option value="OS_COMPLIANCE_AND_BP">Open Source Compliance & Best Practices</ion-option>
              <ion-option value="SECURITY">Security</ion-option>
              <ion-option value="STORAGE">Storage</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Budget</ion-label>
            <ion-input [disabled] type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Domain</ion-label>
            <ion-input formControlName="url" name="url" [(ngModel)]="project.url" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label stacked>Billing Address</ion-label>
            <ion-input formControlName="thoroughfare" name="thoroughfare" type="text" [(ngModel)]="project.address.address.thoroughfare"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Zip Code</ion-label>
            <ion-input formControlName="postalCode" name="postalCode" type="text" [(ngModel)]="project.address.address.postalCode"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>City</ion-label>
            <ion-input type="text" formControlName="localityName" name="localityName" [(ngModel)]="project.address.address.localityName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>State</ion-label>
            <ion-input type="text" formControlName="administrativeArea" name="administrativeArea" [(ngModel)]="project.address.address.administrativeArea"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label stacked>Country</ion-label>
            <ion-input type="text" formControlName="country" name="country" [(ngModel)]="project.address.address.country"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-textarea formControlName="description" name="description" [(ngModel)]="project.description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row margin-left margin-top margin-bottom text-center>
        <ion-col col-12>
          <button ion-button [disabled]="!projectForm.valid">Create Project</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
