add-project {

  .add-project-content {
    background-color: #fff;
  }

  .image-icon {
    font-size: 180px;
  }

  .logo-placeholder {
    border: 1px solid #f3f3f3;
    width: 350px;
  }

  .change-placeholder {
    background-color: #a6a6a6;
    border: 1px solid #a6a6a6;
    color: #fff;
    margin: 0px;
    padding: 0px;
  }

  ion-input.hotfix{
    display: none;
  }

}
