project-cla {

  .no-claProjects {
    text-align: center;
    ion-icon {
      font-size: 80px;
    }
  }

  .contract-title-buttons {
    float: right;
    ion-icon {
      font-size: 2.4rem;
    }
  }

  .add-organizations {
    text-align: center;
    width: 100%;
  }

  .contract-group {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #888;
    .header-row {
      display: flex;
      align-items: center;
      h2 {
        margin: 0;
      }
      ion-buttons[start] {
        flex-grow: 1;
      }
    }
  }

  .organizations ion-card {
    position: relative;
  }

  .organization-actions {
    position: absolute;
    top: 0;
    right: 0;
  }

}
