<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="cla-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <p>
                    Copyright &copy; 2020 The Linux Foundation®. All rights reserved. The Linux Foundation has
                    registered
                    trademarks and uses trademarks.
                    For a list of trademarks of The Linux Foundation, please see our
                    <a target="_blank" href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage </a>
                    page.
                    Linux is a registered trademark of Linus Torvalds.
                    <a target="_blank"
                        href="https://communitybridge.dev.platform.linuxfoundation.org/acceptable-use">Acceptable
                        Use Policy</a>
                    |
                    <a target="_blank"
                        href="https://communitybridge.dev.platform.linuxfoundation.org/service-terms">Service-Specific
                        Terms</a>
                    |
                    <a target="_blank"
                        href="https://communitybridge.dev.platform.linuxfoundation.org/platform-use-agreement">
                        Platform Use Agreement</a>
                    |
                    <a target="_blank" href="https://communitybridge.org/guide/"> CommunityBridge People Guide</a>
                    |
                    <a target="_blank" href="https://www.linuxfoundation.org/privacy/">Privacy Policy</a>
                    <br /><br />
                    DocuSign is a registered trademark of DocuSign, Inc
                </p>
            </div>
        </div>
    </div>
</div>
