<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

 <div class="container">
   <div class="row justify-content-center">
     <!-- Project Console -->
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
       <app-cla-console-section [consoleMetadata]="projectSection"></app-cla-console-section>
     </div>
 
     <!-- Corporate Console -->
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
       <app-cla-console-section [consoleMetadata]="organizationSection"></app-cla-console-section>
     </div>
 
     <!-- Developer Console -->
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
       <app-cla-console-section [consoleMetadata]="developerSection"></app-cla-console-section>
     </div>
   </div>
 </div>
