all-members {
  h1{
    color: #8c8c8c
  }
  table {
    border-collapse: collapse;
    border-style:hidden;
  }
  tr {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-width: 1px;
    border-style: inset;
  }
}
