all-members {
  .toolbar-select {
    display: flex;
    margin-right: 8px;
    ion-select {
      position: relative;
      max-width: none;
      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid white;
        position: absolute;
        bottom: 13px;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }

  ion-datetime {
    color:#000 !important;
    background: none !important;
    opacity: 1 !important;
  }

}
