files:
  "/var/elasticbeanstalk/staging/fluentd/conf.d/fluentd-agent/config.toml" :
    mode: "000755"
    owner: root
    group: root
    content: |
      TagPrefix = "cinco.console"
      HostnameKey = "host"
      FieldName = "short_message"
      ReadBufferSize = 8388608

      [[Servers]]
      Host = "${FLUENT_AGENT_HYDRA_LOG_DEST_HOST}"
      Port = 24224

      [[Logs]]
      File = "/var/log/nginx/error.log"
      Tag = "nginx.access.var.log.nginx.error.log"
      Format = "Regexp"
      Regexp = '^(?P<full_message>(?P<short_message>(?P<remote>[^ ]+) [^ ] (?P<user>[^ ]+) \[(?P<time>[^\]]*)\] "(?:(?P<method>[^ ]+) +(?P<path>[^ ]*) +[^ "]*|(?P<bad_request>[^"]*))" (?P<code>[0-9]+) (?P<size>[0-9]+))(?: "(?P<referer>[^"]*)" "(?P<agent>[^"]*)")?)(?: "(?P<x_forwarded_for>[^"]*)" [0-9]+\.(?P<msec>[0-9]{3}) (?P<scheme>[^ ]+) "(?P<vhost>[^"]*)" time (?P<request_time>[0-9.]+) recv (?P<request_length>[0-9]+) sent (?P<bytes_sent>[0-9]+) \((?P<body_bytes_sent>[0-9]+)\) from (?:- - "-" - time -|(?P<upstream_addrs>(?:[^ ]+, )*(?P<upstream_addr>[^ ]+)) (?P<upstream_cache_status>[^ ]+) "(?P<upstream_http_cache_control>[^"]*)" (?P<upstream_statuses>(?:[^ ]+, )*(?P<upstream_status>[^ ]+)) time (?P<upstream_response_times>(?:[^ ]+, )*(?P<upstream_response_time>[0-9\.-]+))))?$'
      Types = "code:integer,size:integer,msec:integer,request_time:float,request_length:integer,bytes_sent:integer,body_bytes_sent:integer,upstream_response_time:float"
      TimeParse = true
      TimeFormat = "nginx"

      [[Logs]]
      File = "/var/log/nginx/access.log"
      Tag = "nginx.access.var.log.nginx.access.log"
      Format = "Regexp"
      Regexp = '^(?P<full_message>(?P<short_message>(?P<remote>[^ ]+) [^ ] (?P<user>[^ ]+) \[(?P<time>[^\]]*)\] "(?:(?P<method>[^ ]+) +(?P<path>[^ ]*) +[^ "]*|(?P<bad_request>[^"]*))" (?P<code>[0-9]+) (?P<size>[0-9]+))(?: "(?P<referer>[^"]*)" "(?P<agent>[^"]*)")?)(?: "(?P<x_forwarded_for>[^"]*)" [0-9]+\.(?P<msec>[0-9]{3}) (?P<scheme>[^ ]+) "(?P<vhost>[^"]*)" time (?P<request_time>[0-9.]+) recv (?P<request_length>[0-9]+) sent (?P<bytes_sent>[0-9]+) \((?P<body_bytes_sent>[0-9]+)\) from (?:- - "-" - time -|(?P<upstream_addrs>(?:[^ ]+, )*(?P<upstream_addr>[^ ]+)) (?P<upstream_cache_status>[^ ]+) "(?P<upstream_http_cache_control>[^"]*)" (?P<upstream_statuses>(?:[^ ]+, )*(?P<upstream_status>[^ ]+)) time (?P<upstream_response_times>(?:[^ ]+, )*(?P<upstream_response_time>[0-9\.-]+))))?$'
      Types = "code:integer,size:integer,msec:integer,request_time:float,request_length:integer,bytes_sent:integer,body_bytes_sent:integer,upstream_response_time:float"
      TimeParse = true
      TimeFormat = "nginx"


commands:
  0_fluentd_get_command:
    command: "wget -q -L -O /opt/fluent-agent-hydra https://gold.linuxfoundation.org/bin/linux_amd64/fluent-agent-hydra"
    test: "[ ! -f '/opt/fluent-agent-hydra' ]"
  1_fluentd_make_executable:
    command: "chmod +x /opt/fluent-agent-hydra"
  2_fluentd_start_command:
    command: /opt/fluent-agent-hydra -c /var/elasticbeanstalk/staging/fluentd/conf.d/fluentd-agent/config.toml >/dev/null 2>&1 </dev/null &  #! w/o the redirect it will time-out
    test: "pidof fluent-agent-hydra; [ $? -ne 0 ]"
