# Copyright The Linux Foundation and each contributor to CommunityBridge.
# SPDX-License-Identifier: MIT
# Project specific ignores
cla-backend-go
cla
backend-aws-lambda
*env.json
db/schema.sql

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore Jetbrains IDE configuration files
.idea/*
*.iml

# Serverless directories
.serverless

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# Terraform plugins
.terraform

.env

# Ignore the generated folder
gen/
gen-v1/

# Ignore test reports
cover.out
