@import "./table";
@import "./modal";
@import "./footer";

ion-icon {
  color: color($colors, gray);
}

ion-icon[name="menu"] {
  color: color($colors, white);
}

.toolbar {
  background-color: color($colors, white);
  color: color($colors, gray);
  padding: 4px 25px;
  .bar-button {
    color: inherit;
    &:hover:not(.disable-hover) {
      color: inherit;
    }
  }
  .toolbar-background {
    background-color: inherit;
  }
  .toolbar-title {
    color: inherit;
  }
  .toolbar-content {
    display: flex;
  }
}

.content {
  background-color: color($colors, light);
}

.grid {
  max-width: 160rem;
}

ion-content .scroll-content > header {
  margin-top: -16px;
  margin-right: -16px;
  margin-left: -16px;
  padding: 16px;
  position: relative;
  background-color: #fff;
  &:after {
    content: "";
    @extend .header-md::after;
  }
}

ion-menu {
  .header {
    &:after {
      background-image: none;
      border-top: 1px solid color($colors, dark);
    }
    .app-logo {
      display: block;
      margin: 2rem 2rem;
      max-width: 150px;
    }
  }

  .menu-list {
    padding-left: 2rem;
    .item {
      font-weight: bold;
    }
    .menu-list {
      padding-bottom: 2rem;
      .item {
        font-weight: normal;
      }
    }
  }

  .item-md {
    &.item-block .item-inner {
      border-bottom: 0;
    }
  }

  .scroll-content {
    overflow-y: auto;
  }
}

.clickable {
  cursor: pointer;
}

.loading-display {
  &-initial {
    // display: none;
    opacity: 0;
  }

  &-loaded {
    // display: block;
    opacity: 1;
    animation-name: loadingDisplayFadeIn;
    animation-duration: 0.8s;
  }
}

@keyframes loadingDisplayFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
