// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

companies-page {
  .scroll-content {
    padding: 60px 45px !important;
  }

  .add-company-btn {
    bottom: 155px;
    right: 15px;
  }
}

.cla-header {
  border-bottom: 40px solid #4C79B6;

  .toolbar {
    color: #7b7b7b;
    background-color: white;
    padding: 4px 25px;

    ion-icon {
      color: #7b7b7b;
      line-height: 6px;

      &:before {
        font-size: 19px;
      }
    }
  }

  .navbar-logo {
    width: 100px;
    position: absolute;
    left: calc(50% - 20px);
  }
}

.card-md {
  box-shadow: none !important;
  padding: 30px;
}

ion-card-title {
  display: flex !important;
  justify-content: space-between;
}
