companies-page {
  .page-content {
    min-height: calc(100vh - 335px);
    margin-top: 25px;
    transition: margin 0.3s;

    &.expanded {
      min-height: calc(100vh - 410px);
      margin-top: 100px;
    }

    &.without-lfx-header {
      margin-top: 50px;
      min-height: calc(100vh - 364px) !important;
    }

    ion-label {
      color: dark;
    }

    ion-card-title {
      justify-content: center;
      color: #4c79b6;
    }

    .sm-card {
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3rem;

      h3 {
        font-size: 16px;
      }
    }
  }
  .scroll-content {
    margin-top: 96px;
  }

  .add-company-btn {
    bottom: 155px;
    right: 15px;
  }

  ion-footer {
    position: relative;
  }

  a {
    font-weight: bold;
  }
}

.cta-button {
  background-color: #4c79b6;
  text-transform: capitalize;
  padding: 1.5rem 5rem;
  font-size: 16px;
  font-weight: 500;

  &.inactive {
    background-color: gray;
    color: white;
  }

  a {
    color: #4c79b6;
  }
}

span a {
  text-decoration: underline;
}

.card-md {
  box-shadow: none !important;
  padding: 30px;
}

ion-card-title {
  display: flex !important;
  justify-content: space-between;

  &.text-black {
    color: black !important;
  }
}

span[title="Joined"] {
  color: green;
  font-weight: bold;
}

.alert {
  color: red;
}

span[title="Pending Approval"] {
  color: #4c79b6;
  font-weight: bold;
}

span[title="rejeted"] {
  color: red;
}

.default-pointer {
  cursor: default !important;
}

ion-label {
  color: #4c79b6;
  font-weight: 500;
  text-align: center;
}
