// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//@import url('https://fonts.googleapis.com/css?family=Lato');
@import "../assets/fonts/lato-font.css";
@import "../assets/fonts/open-sans-font.css";
@import "../assets/fonts/work-sans-font.css";
@import "../theme/styles.scss";

body ion-app.ios {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif !important;
  // font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
}

body ion-app.md {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif !important;
  // font-family: "Roboto", "Helvetica Neue", sans-serif;
}

body ion-app.wp {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif !important;
  // font-family: "Segoe UI", "Noto Sans", sans-serif;
}

.grid {
  padding-left: 0;
  padding-right: 0;
}

.item.item-md{
  padding-left: 0;
  .checkbox-md {
    margin: 6px 15px 9px 0px;
  }
}

.item-md.item-block .item-inner{
  padding-right: 0;
}

.toolbar-title-md {
  padding: 0;
}

.md ion-footer .toolbar:last-child{
  padding-bottom: 1rem;
}

.bar-buttons-md[end] {
  margin-right: 0;
  .button:last-child {
    margin-right: 0;
  }
}

.row .col .card {
  min-height: calc( 100% - 20px )
}
