// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.section {
  padding-top: 5rem
}

.section-title  h4 {
  font-size: 36px;
  color: #444444;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
