// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

@import './_reset.scss';
@import '~bootstrap/scss/_mixins.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

@import './components/_nav.scss';
@import './components/_hero.scss';
@import './components/_cla-summary.scss';
@import './components/_cla-step.scss';
@import './components/_button.scss';
@import './components/_how-cla-works.scss';
@import './components/_diagram.scss';
@import './components/_footer.scss';
@import './components/_hamebuger-icons.scss';

@import './_home.scss';