// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

cla-corporate-whitelist-modal {
  .toolbar{
    padding: 1rem 1rem 1rem 2rem;
  }
  .toolbar {
    background-color: #f5f5f5;
    color: black;
  }
  ion-title ion-icon {
    vertical-align: text-bottom;
  }
  .footer-bordered {
    background-color: transparent;
    border-top:2px solid #f5f5f5;
    &:before {
      display: none;
    }
    .toolbar {
      background-color: inherit;
    }
    .toolbar-background {
      border-color: inherit;
    }
  }
  .content {
    background-color: #fff;
  }


  .input-forward-button {
    margin-top: 2.6rem;
  }

}
