member {
  .member-wrapper {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .renewal-date-title {
    background: none !important;
    opacity: 0.7 !important;
  }

  ion-datetime {
    background: none !important;
    opacity: 0.7 !important;
  }

  .profile-photo {
    display: inline;
    max-width: 40px;
    border-radius: 50%;
  }

  .loading {
    animation: colorchange 3s; /* animation-name followed by duration in seconds*/
    animation-iteration-count: infinite;
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 3s; /* Chrome and Safari */
    -webkit-animation-iteration-count: infinite;

    color: transparent;
    border-radius: 1000px;

    @keyframes colorchange {
      0% {
        background: grey;
      }
      50% {
        background: #d8d8d8;
      }
      100% {
        background: grey;
      }
    }

    @-webkit-keyframes colorchange {
      0% {
        background: grey;
      }
      50% {
        background: #d8d8d8;
      }
      100% {
        background: grey;
      }
    }
  }

  .project-memberships {
    h2 {
      font-weight: bold;
      padding-left: 5px;
    }
    .project-info {
      ion-col {
        padding-top: 0;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }

  .table td.primary-board {
    padding-top: 13px;
    padding-bottom: 13px;
    ion-icon {
      font-size: 2.5rem;
    }
  }
}
