// upload-button {
//   .image_upload {
//     &-display_wrapper {
//       display: inline-block;
//       margin-right: 1rem;
//     }
//     &-thumbnail {
//       width: 60px;
//     }
//     &-icon_wrapper {
//       font-size: 2rem;
//       color: #fff;
//       padding: 2rem;
//       background-color: #d8d8d8;
//       border-radius: 50%;
//     }
//     &-text {
//       display: inline-block;
//
//     }
//     &-description {
//       color: grey;
//       font-style: italic;
//       margin-bottom: .5rem;
//     }
//   }
// }


.file_list {
  &-item_inner {
    @extend .item-inner;
    border-bottom: 0;
  }
  &-input_wrapper {
    @extend .input-wrapper;
  }
  &-label {

  }
  &-input {
    // position: static;
    // display: block;
    // flex: 1;
    // width: 100%;
    @extend ion-input;
  }
  &-file_list {
    @extend .text-input;
    margin: 8px 8px 0 0;
    width: calc(100% - 8px);
    padding: 0;
  }
  &-input_item {
    display: inline-block;
    border: 1px solid grey;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: .5rem 1rem;
  }
  &-icon {
    line-height: 1;
    vertical-align: top;
  }
  &-text {
    font-size: 1.5rem;
    vertical-align: middle;
  }
  &-more {
    vertical-align: sub;
  }
  &-add {
    font-size: 2.5rem;
    vertical-align: sub;
    margin-top: 2px;
    margin-bottom: 1.4rem;
    &:before {
      margin-left: 1px;
      color: color($colors, primary);
    }
  }
}
