<ion-header name="project-details-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit {{ project.name }} Details</ion-title>
  </ion-navbar>
  <ion-row margin-left margin-top margin-bottom >
    <ion-col col-12>
      <button ion-button (click)="submitEditProject()" color="secondary">SAVE AND FINISH</button>
      <button ion-button (click)="cancelEditProject()" color="gray">CANCEL</button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding name="project-details-content">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div *ngIf="!project.logoRef" name="logo-placeholder" text-center>
          <ion-icon name="image"></ion-icon>
          <div name="change-placeholder">
            <ion-label (click)="changeLogo()">CHANGE</ion-label>
          </div>
        </div>
        <div *ngIf="project.logoRef" name="logo-placeholder" text-center>
          <img src="{{ project.logoRef }}" alt="{{ project.name }} logo"/>
          <div name="change-placeholder">
            <ion-label (click)="changeLogo()">CHANGE</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>
        <ion-item>
          <ion-label stacked>Project Title</ion-label>
          <ion-input type="text" name="project_name" [(ngModel)]="project.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Date Launched</ion-label>
          <ion-input type="text" name="project_start_date" [(ngModel)]="project.startDate"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Membership Status</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Project Type</ion-label>
          <ion-select [(ngModel)]="project.sector">
            <ion-option value="DIRECT_FUNDED">Direct Funded</ion-option>
            <ion-option value="INCORPORATED">Incorporated</ion-option>
            <ion-option value="UNSPECIFIED">Unspecified</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Categories</ion-label>
          <ion-select [(ngModel)]="project-category">
            <ion-option value="EMBEDDED_AND_IOT">Embedded and IoT</ion-option>
            <ion-option value="OTHER">Other</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Budget</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Domain</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>
        <ion-item>
          <ion-label stacked>Billing Address</ion-label>
          <ion-input type="text" name="project_address" [(ngModel)]="project.address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Country</ion-label>
          <ion-select [(ngModel)]="project.sector">
            <ion-option value="US">United States</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-label stacked>Zip Code</ion-label>
          <ion-input type="text" name="project_address" [(ngModel)]="project.address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label stacked>Description</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br><br>
  <ion-grid>
    <ion-row margin-top>
      <ion-col col-12>
        <h3>MEMBERSHIP TIERS</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card >
          <ion-card-content>
            <div class="table-responsive-vertical">
              <table id="table" class="table table-hover">
                <thead>
                  <tr>
                    <th>Tier</th>
                    <th># of Members</th>
                    <th>Annual Cost</th>
                    <th>Board Seat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let membership of memberships">
                    <td data-title="Tier">{{ membership.tier }}</td>
                    <td data-title="# of Members">{{ membership.numberOfMembers }}</td>
                    <td data-title="Annual Cost">{{ membership.annualCost }}</td>
                    <td data-title="Board Seat">{{ membership.boardSeat }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
