asset-management-modal {
  .asset-management-modal-wrapper {
    height: 100%;
  }
  .selected-show {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  ion-title ion-icon {
    vertical-align: text-bottom;
  }
  .content.selected .scroll-content {
    bottom: 45px;
  }
  tr {
    border-bottom: 1px solid #f5f5f5;
  }

  tr.selected {
    background-color: #02a0fb;
    color: white;
  }

  a {
    text-decoration:none;
  }

  .selected-show {
    background-color: white;
    border-top: 1px solid #999;
    position: absolute;
    bottom: 58px;
    width: 100%;
    z-index: 10;
    display: flex;
    .selected-text-wrapper {
      flex-grow: 1;
    }
    .selected-text {
      position: relative;
      top: 1.2rem;
    }
    .selected-actions {

    }
  }

}
