cla-company-admin-yesno-modal {

  .content-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .clearfix {
    padding-top: 1px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    ion-icon {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    [icon-left] {
      float: left;
    }
    [icon-large] {
      font-size: 9rem;
    }
  }
}
