project-details {

  ion-header[name=project-details-header] {
    background-color: #d8d8d8;
  }

  ion-icon[name="image"]{
    font-size: 180px;
  }

  ion-content[name=project-details-content]{
    background-color: #fff;
  }

  tr {
    background-color: #fff !important;
  }

  div[name=logo-placeholder] {
    border: 1px solid #f3f3f3;
    width: 350px;
  }

  div[name=change-placeholder] {
    background-color: #a6a6a6;
    border: 1px solid #a6a6a6;
    color: #fff;
    margin: 0px;
    padding: 0px;
  }

  .change-link {
    cursor:pointer;
  }

}
