/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}
.header-email {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  line-height: 4;
  color: #044d74;
}
.main-header {
  margin-top: 6px;
  width: 100%;
  height: 150px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #044d74;
  padding: 0px;
}
.main-header-project {
  width: 100%;
  height: 260px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff;
  padding: 0px;
}
.main-header-title {
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  line-height: 3.5;
  margin-left: 80px;
  color: #ffffff;
}
.main-header-title-project {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  /*margin-left: 330px;*/
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  color: #333333;
}
.last-edited-project{
  position: relative;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  float: right;
  margin-right: 170px;
  color: #999999;
}
.white-subheader {
  width: 100%;
  height: 68px;
  background-color: #ffffff;
}
.text-subheader {
  margin-left: 80px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 4.5;
  color: #777777;
  float:left;
}
.add-project-button {
  height: 10px;
  position: relative;
  margin-right: 110px;
  margin-top: -18px;
  float:right;
  font-size: 50px;
  color: #11abde;
}
.add-project-title {
  height: 10px;
  text-align: right;
  margin-right: 100px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 7.5;
  color: #11abde;
}
.edit-project-title {
  height: 10px;
  text-align: right;
  margin-right: 123px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 7.5;
  color: #11abde;
}
.box {
  display: inline-block;
  width: 300px;
  height: 170px;
  margin: 1em;
  border: 1px solid #a9aebd;
  border-radius: 15px;
  letter-spacing: .05em;
}
.card {
  margin-top: 54px;
  margin-right: 30px;
  display: inline-block;
  width: 320px;
  height: 369px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}
.add-a-new-project {
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #11abde;
}
.card-title {
  margin-top: 10px;
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #2a2c2e;
}
.card-title-new {
  margin-top: 10px;
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #11abde;
}
.card-content {
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #777777;

}
.card-mailing {
  padding: 10px;
  width: 280px;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.26;
  text-align: center;
  color: #11abde;
}
.card-new-img {
  border-radius: 4px;
  background-color: #d9edf7;
}
.card-line {
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 1px;
  background-color: #cccccc;
}
.project-logo-project {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  color: #51586a;
  margin-left: 100px;
  margin-right: 50px;
}
.project-logo-project > img {
  height: 120;
}
@media (min-width: 768px) {
  .project-logo-project > img {
    height: 160px;
  }
}
.project-logo-project:hover {
  color: #6f7890;
  text-decoration: none;
}

.project-logo {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #51586a;
  margin: 0 auto;
}
.project-logo > img {
  height: 100px;
}
@media (min-width: 768px) {
  .project-logo > img {
    height: 120px;
  }
}
.project-logo:hover {
  color: #6f7890;
  text-decoration: none;
}
.hr-divider-keyline {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.hr-divider-vertical {
  float: inherit;
  margin-top: 15px;
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #cccccc;
}
.title-subheader-project {
  display: inline-block;
  position: relative;
  float: inherit;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  color: #777777;
}
.content-subheader-project {
  margin-left: 80px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  float:left;
}
.subtitle-content-project {
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: #000000;
}
.add-edit-member-companies-label{
  display: inline-block;
  position: relative;
  float: right;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  color: #11abde;
}
.email-aliases-projects{
  margin-top: 15px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.5;
  color: #797979;
}
.view-all-member-aliases-label{
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
  color: #11abde;
}
.member-company-project{
  margin-top: 15px;
  margin-bottom: 10px;
}
.member-company-name-label{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: #333333;
}
.member-company-subheader-label{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #666666;
  margin-bottom: 15px;
}
.member-logo-project{
  height: 30px;
}
.mailing-list-project{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mailing-list-control {
  margin-top: 25px;
  /*width: 1140px;*/
  height: 52px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
.mailing-list-title-project{
  margin-top: 10px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
}
.mailing-list-hr-divider-vertical-project{
  float: left;
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  width: 1px;
  height: 40px;
  background-color: #cccccc;
}
.mailing-list-counter-project{
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 15px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}
.mailing-list-last-edited-project{
  margin-top: 15px;
  position: relative;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #999999;
}
.mailing-list-button-project{
  margin-top: 5px;
  position: relative;
  display: inline-block;
  float: right;
  width: 100px;
  height: 38px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
.white-rectangle {
  float: center;
  width: 400px;
  height: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff;
}
.gray-rectangle {
  position: relative;
  display: inline-block;
  float: center;
  width: 400px;
  background: url(../img/gray.png) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-content{
  margin-top: 50px;
  margin-bottom: 70px;
}
.btn-login{
  width: 240px;
  height: 50px;
  background-color: white;
  color: gray;
  border-color: #cccccc;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 400;
  box-shadow: 1px 2px 3px #888888;
}
.btn-label{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
}
.login-container{
  text-align: center;
  margin-top: 60px;
}
