/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}
.header-email {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  line-height: 4;
  color: #044d74;
}
.main-header {
  margin-top: 6px;
  width: 100%;
  height: 150px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #044d74;
  padding: 0px;
}
.main-header-project {
  width: 100%;
  height: 260px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff;
  padding: 0px;
}
.main-header-title {
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  line-height: 3.5;
  margin-left: 80px;
  color: #ffffff;
}
.main-header-title-project {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  /*margin-left: 330px;*/
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  color: #333333;
}
.last-edited-project{
  position: relative;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  float: right;
  margin-right: 170px;
  color: #999999;
}
.white-subheader {
  width: 100%;
  height: 68px;
  background-color: #ffffff;
}
.text-subheader {
  margin-left: 80px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 4.5;
  color: #777777;
  float:left;
}
.add-project-button {
  height: 5px;
  position: relative;
  margin-right: 10%;
  margin-top: -8px;
  float:right;
  font-size: 50px;
  color: #11abde;
}
.add-project-title {
  display: inline-block;
  height: 10px;
  float: right;
  margin-top: 6px;
  margin-right: 9%;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 7.6;
  color: #11abde;
}
.edit-project-title {
  height: 10px;
  text-align: right;
  margin-right: 123px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 7.5;
  color: #11abde;
}
.box {
  display: inline-block;
  width: 300px;
  height: 170px;
  margin: 1em;
  border: 1px solid #a9aebd;
  border-radius: 15px;
  letter-spacing: .05em;
}
.card {
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  width: 320px;
  height: 315px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}
.add-a-new-project {
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #11abde;
}
.card-title {
  margin-top: 10px;
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #2a2c2e;
}
.card-title-new {
  margin-top: 10px;
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.06;
  color: #11abde;
}
.card-content {
  width: 280px;
  display: inline-block;
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  color: #777777;

}
.card-mailing {
  padding: 10px;
  width: 280px;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.26;
  text-align: center;
  color: #11abde;
}
.card-new-img {
  border-radius: 4px;
  background-color: #d9edf7;
}
.card-line {
  display: inline-block;
  text-align: center;
  width: 280px;
  height: 1px;
  background-color: #cccccc;
}
.project-logo-project {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  color: #51586a;
  margin-left: 100px;
  margin-right: 50px;
}
.project-logo-project > img {
  height: 120;
}
@media (min-width: 768px) {
  .project-logo-project > img {
    height: 160px;
  }
}
.project-logo-project:hover {
  color: #6f7890;
  text-decoration: none;
}

.project-logo {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #51586a;
  margin: 0 auto;
}
.project-logo > img {
  height: 100px;
}
@media (min-width: 768px) {
  .project-logo > img {
    height: 120px;
  }
}
.project-logo:hover {
  color: #6f7890;
  text-decoration: none;
}
.hr-divider-keyline {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.hr-divider-keyline-save {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.hr-divider-vertical {
  float: inherit;
  margin-top: 15px;
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #cccccc;
}
.title-subheader-project {
  display: inline-block;
  position: relative;
  float: inherit;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  color: #777777;
}
.content-subheader-project {
  margin-left: 10%;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  float:left;
}
.subtitle-content-project {
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: #000000;
}
.add-edit-member-companies-label{
  display: inline-block;
  position: relative;
  float: right;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  color: #11abde;
}
.email-aliases-projects{
  margin-top: 15px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.5;
  color: #797979;
}
.view-all-member-aliases-label{
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
  color: #11abde;
}
.member-company-project{
  margin-top: 15px;
  margin-bottom: 10px;
}
.member-company-name-label{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: #333333;
}
.member-company-subheader-label{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #666666;
  margin-bottom: 15px;
}
.member-logo-project{
  height: 30px;
}
.mailing-list-project{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mailing-list-control {
  margin-top: 25px;
  /*width: 1140px;*/
  height: 52px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
.mailing-list-title-project{
  margin-top: 10px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
}
.mailing-list-hr-divider-vertical-project{
  float: left;
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  width: 1px;
  height: 40px;
  background-color: #cccccc;
}
.mailing-list-counter-project{
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
}
.mailing-list-last-edited-project{
  margin-top: 15px;
  position: relative;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #999999;
}
.mailing-list-button-project{
  margin-top: 5px;
  position: relative;
  display: inline-block;
  float: right;
  width: 100px;
  height: 38px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
.white-rectangle {
  float: center;
  width: 400px;
  height: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff;
}
.gray-rectangle {
  position: relative;
  display: inline-block;
  float: center;
  width: 400px;
  background: url(../img/gray.png) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-content{
  margin-top: 50px;
  margin-bottom: 70px;
}
.btn-login{
  width: 240px;
  height: 50px;
  background-color: white;
  color: gray;
  border-color: #cccccc;
  font-family: HelveticaNeue;
  font-size: 13px;
  font-weight: 400;
  box-shadow: 1px 2px 3px #888888;
}
.btn-label{
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 400;
}
.login-container{
  text-align: center;
  margin-top: 60px;
}
.navbar-nav-heading{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #11abde;
}
.navbar-nav-heading-dark{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #044d74;
}
.main-header-mailing {
  width: 100%;
  height: 260px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff;
}
.main-header-title-mailing {
  position: absolute;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  color: #999999;
  margin-top: 80px;
}
.main-header-subtitle-mailing {
  position: absolute;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  color: #333333;
  margin-top: 140px;
}
.project-logo-mailing {
  position: relative;
  display: inline-block;;
  color: #51586a;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 60px;
}
.mailing-list-button-mailing {
  margin-top: 10px;
  width: 265px;
  height: 42px;
  border-radius: 2px;
  background-color: #11abde;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: #ffffff;
}
.title-subheader-members{
  display: inline-block;
  position: relative;
  float: center;
  margin-top: 25px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  color: #777777;
}
.hr-divider-keyline-member {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.menu-members-table {
  position: relative;
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  color: #777777;
  width : 100%;
}
.members-table{
  width : 100%;
  height: 54px;
  position: relative;
  display: inline-block;
}
.members-table-dark{
  width : 100%;
  height: 54px;
  position: relative;
  display: inline-table;
  vertical-align: middle;
  background-color: #edf1f4;
}
.members-table-text{
  margin-top: 15px;
}
.check-member-img{
  height: 10px;
}
.title-subheader-member {
  display: inline-block;
  position: relative;
  float: inherit;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 500;
  color: #777777;
}
.upload-logo-border{
  display: inline-block;
  margin-left: 100px;
  width: 360px;
  height: 203px;
  border-radius: 4px;
  border: solid 1px #979797;

}

.main-header-project-edit {
  display: inline-block;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff;
  padding: 0px;
}

.project-logo-project-edit-main {
  display: inline-block;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
  line-height: 1;
  width: 350px;
  height: 220px;
}

.project-logo-project-edit {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: #51586a;
  width: 350px;
  height: 200px;
  border-radius: 4px;
  border: dashed 2px #979797;
}
.project-logo-project-edit > img {
  height: 120;
}
@media (min-width: 768px) {
  .project-logo-project-edit > img {
    height: 160px;
  }
}
.project-logo-project-edit:hover {
  color: #6f7890;
  text-decoration: none;
}
.project-logo-project-edit-inside {
  width: 200px;
  height: 33px;
  margin-top: 80px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 4px;
  color: #777777;
}

.main-header-title-project-edit{
  display: inline-block;
  margin-left: 35px;
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  color: #777777;
  border-bottom: 2px dashed #999;
}
.main-header-title-project-input{
  border: 0px;
  width: 650px;
}
@media (min-width: 0px) and (max-width: 500px) {
    .main-header-title-project-edit {
      margin-top: 20px;
      font-size: 22px;
    }
    .main-header-title-project-input{
      width: 350px;
    }
  }

@media (min-width: 501px) and (max-width: 1200px) {
    .main-header-title-project-edit {

      font-size: 32px;
    }
    .main-header-title-project-input{
      width: 500px;
    }
  }
.button-title-project-edit{
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-left: 20px;
  text-align: center;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 4px;
  color: #777777;
}
.last-edited-project-edit{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin-right: 5%;
  float: right;
  color: #999999;
}
.image-message-project-edit{
  display: inline-block;
  margin-top: 10px;
  font-family: HelveticaNeue;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  float: left;
  color: #999999;
}

.save-button-project-edit
{

  position: relative;
  margin-right: 5%;
  margin-top: 3px;
  float:right;
  width:60px;
  height:60px;
  border-radius:30px;
  font-size:15px;
  line-height:60px;
  text-align:center;
  text-decoration:none;
  color: #fff;
  background:#5cb85c;
}
.save-button-project-edit:hover{
  color:gray;
  text-decoration:none;
  background:green;
  color: white;
}
.description-project-edit {
  width: 100%;
  height: 280px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  text-indent: 10px;
}
.domain-project-edit {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-left: 10px;
  text-indent: 10px;
  font-family: HelveticaNeue;
  font-size: 14px;
}
.discard-message-edit-project{
  margin-top: 15px;
  float: left;
  margin-left: 30px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #999999;
}
.button-save-changes-edit-project-div{
  margin-top: 5px;
  /*display: inline-block;*/
  float: right;
  /*margin-left: 70%;*/
}
.button-save-changes-edit-project{
  display: inline-block;
  /*position: relative;*/
  /*display: inline-block;*/
  /*float: right;*/
  border: solid 1px #cccccc;
  color: white;
  width: 200px;
  height: 38px;
  border-radius: 4px;
  background-color: #449d44;
}
.close-modal {
  float: right;
  font-size: 18px;
  /*font-weight: bold;*/
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 1;
  filter: alpha(opacity=20);
}
.close-modal:hover,
.close-modal:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=100);
}
button.close-modal {
  margin-top: 12px;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-header-listing{
  display: inline-block;
  width: 100%;
  height: 38px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: #1F2532;
  text-align: center;
}
.modal-title-mailing{
  display: inline-block;
  margin-top: 10px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
}
.modal-subheader-listing{
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}
.modal-subheader-title{
  margin-top: 20px;
  margin-left: 35px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #999999;
}
.modal-body-mailing{
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #eceeef;
}
.modal-body-nav{
  margin-top: 10px;
  margin-left: 5%;
  width: 90%;
  height: 30px;
  border-radius: 4px;
  background-color: #eceeef;
  border: solid 1px #cccccc;
}
.modal-body-mailing-list-admin{
  /*margin-top: 10px;*/
  display: inline-block;
  margin-left: 5%;
  width: 90%;
  height: 30px;
  border-radius: 4px;
  background-color: #eceeef;
}
.modal-body-radio{
  width: 45px;
  height: 38px;
  border-radius: 4px;
  background-color: #eceeef;
  border: solid 1px #cccccc;
}
.modal-body-radio-text {
  display: inline-block;
  height: 38px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}
.button-title-add-company{
  display: inline-block;
  width: 320px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-left: 20px;
  margin-top: 18px;
  text-align: center;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 4px;
  color: #777777;
}
.textbox-add-company {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  text-indent: 5px;
}
.table-contact-add-company {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: 0.5px;
  color: #333333;
}
