cla-corporate-page {
  .page-content {
    min-height: calc(100vh - 200px);
    padding: 10px 10px;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }
  
  .error {
    color: red;
  }
  .card-md p {
    margin-bottom: 1rem;
  }
  ion-footer {
    position: relative !important;
  }
}
