<%- include('partials/loginHeader') %>
  <div class="col-sm-12 content">
    <div class="login-container">
      <div class="gray-rectangle">
        <div class="white-rectangle"></div>
        <div class="login-content">
          <img src="/assets/img/lf_logo.png" alt="" class="img-responsive" style="width: 200px;  display: block; margin-left: auto; margin-right: auto;"/>
          <br />
          <br />
          <form action="/login_cas">
            <button class="btn btn-primary btn-login" type="submit" >
              <span class="icon icon-login"></span>
              <span class="btn-label">Sign in</span>
            </button>
          </form>
        </div>
        <div class="white-rectangle"></div>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
