cla-employee-request-access-modal {
  .field-notice {
    font-size: 1.2rem;
    color: #999;
    text-align: right;
  }
  .toolbar-title .member-company {
    font-weight: normal;
  }

  .input-forward-button {
    margin-top: 2.6rem;
  }

  .field-description {
    margin-top: 0.3rem;
    padding-left: 16px;
    font-size: 1.2rem;
    color: #999;
  }
  
  .company-title {
    font-size: 18px;
    .name {
      color: #4c79b6;
    }
  }

  .error-message {
    color:  #ff0000;
  }
}