cla-send-cla-manager-email-modal {

  .field-notice {
    font-size: 1.2rem;
    color: #999;
    text-align: right;
  }
  .toolbar-title .member-company {
    font-weight: normal;
  }

  .input-forward-button {
    margin-top: 2.6rem;
  }

  .field-description {
    margin-top: .3rem;
    padding-left: 16px;
    font-size: 1.2rem;
    color: #999;
  }
}
