/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT */

.console-container {
    margin-bottom: 25px;
    .section {
        border: 1px solid #8492a6;
        border-radius: 6px;
        font-family: "Source Sans Pro", sans-serif;
        padding-top: 20px;
        .head {
            min-height: 90px;
            text-align: center;
            .logo {
                i {
                    color: #049cec;
                    font-size: 30px;
                }
            }

            .title {
                color: #000000;
                font-size: 18px;
                font-weight: bold;
            }

            .subtitle {
                color: #333333;
                font-size: 14px;
                padding: 5px;
                line-height: normal;
            }
        }

        .divider {
            border-bottom: 1px solid #d9e0e7;
            margin: 10px 0;
        }

        .body {
            color: #333333;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 12px;
            text-align: left;
            min-height: 130px;
            .highlight {
                line-height: normal;
                margin-bottom: 10px;
                i {
                    font-size: 16px;
                    color: #8bc34a;
                }
            }
        }

        .footer {
            background: rgba(0, 153, 204, 0.1);

            .title {
                color: #000000;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                text-align: center;
                padding: 15px 0;
            }

            .buttons {
                margin-bottom: 15px;
                .button {
                    color: #ffffff;
                    font-family: "Source Sans Pro bold", sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    border: none;
                    border-radius: 50px;
                    min-width: 90px;
                    padding: 2px 10px;
                    border: none;
                    outline: none;
                    &.blue {
                        background: #0099cc;
                    }

                    &.gray {
                        background: #8492a6;
                    }
                }
            }
        }
    }
}

.dialog {
    .dialog-header {
        color: #8492a6;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        .close-btn {
            cursor: pointer;
            color: #000 !important;
        }
    }
    .info-icon {
        font-size: 24px;
        color: #0099cc;
    }

    .message {
        color: #333333;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
    }

    .version-btn {
        width: 170px;
        cursor: pointer;
        padding: 5px;
        color: #000000;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background: #ffffff;
        border: 1px solid #8492a6;
        border-radius: 5px;
        margin-bottom: 10px;

        &.active {
            background-color: #8bc34a;
            color: #fff;
        }

        &.disabled {
            background-color: gray;
            color: #fff;
            cursor: not-allowed;
        }
    }

    .error {
        font-size: 12px;
        color: red;
    }

    .proceed-btn {
        width: 170px;
        padding: 5px;
        cursor: pointer;
        color: #ffffff;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background: #0099cc;
        border: 1px solid #0099cc;
        border-radius: 50px;
        margin-top: 15px;
    }
}
