<!-- Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->

<div class="console-container">
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="logo col-auto {{consoleMetadata.class}} filter-color"></div>
                <div class="head col-11">
                    <div class="title col-12">{{consoleMetadata.title}}</div>
                    <div class="subtitle col-12">{{consoleMetadata.subtitle}}</div>
                </div>

                <div class="col-12 divider"></div>

                <div class="body">
                    <div class="highlight col-12" *ngFor="let highlight of consoleMetadata.highlights">
                        <div class="row align-items-center">
                            <div class="col-auto" style="padding-right: 0;">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col">{{highlight}}</div>
                        </div>
                    </div>
                </div>

                <div class="footer col-12">
                    <div class="row justify-content-center">
                        <div class="title col-8">{{consoleMetadata.footerTitle}}</div>
                    </div>

                    <div class="buttons">
                        <div class="row justify-content-center">
                            <div class="col-auto" *ngIf="consoleMetadata.title !=='Developers'">
                                <button tabindex="-1" type="button" class="button blue"
                                    (click)="onClickProceed(consoleMetadata.title)">Proceed</button>
                            </div>
                            <div class="col-auto" *ngIf="consoleMetadata.title ==='Developers'">
                                <button tabindex="-1" type="button" class="button blue"
                                    (click)="onClickLearnMore()">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

