// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

cla-configure-github-repositories-modal {

  .org-name {
    font-size: 18px;
    color: #7b7b7b;
  }

  .github-organization {
    margin-top: 10px;
  }

  .repositories {
    padding-left: 30px;
    padding-top: 10px;
    h4 {
      font-size: 16px;
      display: flex;
      align-items: center;
      margin: 0;
      color: #7b7b7b;

      &.disabled {
        opacity: .5;
      }

      &.assigned {
        color: black;
      }

      button {
        height: 20px;

        &.remove {
          color: #f25454;
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    margin-top: 50px;
    border-top: 1px solid lightgray;
  }
}
