// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

cla-select-company-modal {

  .field-notice {
    font-size: 1.2rem;
    color: #999;
    text-align: right;
  }
  .toolbar-title .member-company {
    font-weight: normal;
  }

  .input-forward-button {
    margin-top: 2.6rem;
  }

}
