<div id="select-email-template-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-listing">
        <div class="modal-title-mailing">
          <span id="myModalLabel">SEND A MESSAGE</span>
        </div>
        <button type="button" class="close-modal" data-dismiss="modal" style="color: #fff;" aria-label="Close">
          <span aria-hidden="true" style="color:#fff">X</span>
        </button>
      </div>
      <div>
        <div class="modal-title-content-email-template">
          Agreement Reminder Template #1
        </div>
        <div class="hr-divider-keyline"></div>
        <div class="modal-content-email-template">
          <span>Recipient:</span>
          <select class="custom-select custom-select-sm select-email-template-input">
            <option>Primary Contact, Mailing List #1</option>
            <option>Primary Contact, Mailing List #2</option>
            <option selected>Primary Contact, Mailing List #3</option>
            <option>Primary Contact, Mailing List #4</option>
            <option>Primary Contact, Mailing List #5</option>
          </select>
          <span>Message:</span>
          <textarea class="description-email-template-input" placeholder="Email Template">Four dollar toast, brooklyn bicycle rights kale chips neutra. Independent ood truck freegan cardigan deep v pickled chicharrones letterpress. Brunch austin banh mi heirloom single-origin coffee. Everyday flannel fingerstache biodiesel, gastropub semiotics tumblr tofu irony kinfolk heirloom shabby chic jean shorts hashtag.

Lomo heirloom vice crucifix brunch narwhal and listicle fanny pack tacos.

Best Regards,
[NAME]</textarea>
        <div class="membership-email-template">
          <div class="membership-email-template-checkbox">
            <input type="checkbox" name="name" value="">
          </div>
          &nbsp Include link to Membership Agreement
        </div>
        </div>
        <div class="hr-divider-keyline"></div>
        <button type="button" name="button" class="cancel-button-email-template" data-dismiss="modal">Cancel</button>
        <button type="button" name="button" class="save-button-email-template" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
