<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ project.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding headerspacing>

  <header>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-9>
          <ion-row>
            <ion-col col-12 col-md-4>
              <div *ngIf="!project.logoRef" text-center>
                <ion-icon name="image"></ion-icon>
                <ion-label>Change logo in <a (click)="viewProjectDetails(project.id)">Project Details</a></ion-label>
              </div>
              <div *ngIf="project.logoRef">
                <img src="{{ project.logoRef }}" alt="{{ project.name }} logo"/>
              </div>
            </ion-col>
            <ion-col col-12 col-md-8>
              <h1>{{ project.name }}</h1>
              <p>{{ project.description }}</p>
            </ion-col>
            <ion-col col-12>
              <ion-row>
                <ion-col col-12 col-md-4>
                  <ion-label>
                    <strong>Budget: </strong> N/A
                  </ion-label>
                  <ion-label>
                    Current: N/A
                  </ion-label>
                </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-label>
                    Categories: {{ project.sector }} <span *ngIf="!project.sector">N/A</span>
                  </ion-label>
                </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-label>
                    <ion-row>
                      <span margin-right>Launched: </span>
                      <span>
                        <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="project.startDate" ></ion-datetime>
                      </span>
                      <span *ngIf="!project.startDate">N/A</span>
                    </ion-row>
                  </ion-label>
                  <ion-label>
                    Members: {{ membersCount }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 col-md-3>
          <ion-item (click)="openProjectUserManagementModal()">
            <ion-icon name="people" item-left large></ion-icon>
            <p>
              LF Users
            </p>
          </ion-item>
          <ion-item (click)="openAssetManagementModal()">
            <ion-icon name="folder" item-left large></ion-icon>
            <p>Project Files</p>
          </ion-item>
          <ion-item>
            <ion-icon name="mail" item-left large></ion-icon>
            <p>Email Lists</p>
          </ion-item>
          <ion-item>
            <ion-icon name="md-create" item-left large></ion-icon>
            <p>
              <a (click)="viewProjectDetails(project.id)">Project Details</a>
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </header>
  <loading-spinner [loading]="loading.project"></loading-spinner>
  <ion-grid [loading-display]="loading.project">
    <ion-row>
      <ion-col col-12>
        <div class="table-responsive-vertical">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="clickable" (click)="sortMembers('alert')">
                  Alert
                  <sorting-display [sorting]='sort.alert.sort'></sorting-display>
                </th>
                <th class="clickable" (click)="sortMembers('company')">
                  Company
                  <sorting-display [sorting]='sort.company.sort'></sorting-display>
                </th>
                <th>Tier</th>
                <th class="clickable" (click)="sortMembers('product')">
                  Product
                  <sorting-display [sorting]='sort.product.sort'></sorting-display>
                </th>
                <th class="clickable" (click)="sortMembers('status')">
                  Invoices Status
                  <sorting-display [sorting]='sort.status.sort'></sorting-display>
                </th>
                <th class="clickable" (click)="sortMembers('dues')">
                  Annual Dues
                  <sorting-display [sorting]='sort.dues.sort'></sorting-display>
                </th>
                <th class="clickable" (click)="sortMembers('renewal')">
                  Renewal Date
                  <sorting-display [sorting]='sort.renewal.sort'></sorting-display>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of project.members">
                <td data-title="Alert">
                  <span *ngIf="member.alert == 'alert'" class="circle-alert"></span>
                  <span *ngIf="member.alert == 'notice'" class="circle-notice"></span>
                  <span *ngIf="member.alert == ''" class="circle-null"></span>
                </td>
                <td data-title="Company" (click)="memberSelected($event, member.id)"><strong>{{ member.org.name }}</strong></td>
                <td data-title="Tier">{{ member.tier }}</td>
                <td data-title="Product">{{ member.product }}</td>
                <td data-title="Status">{{ member.invoices[0].status }}</td>
                <td data-title="Annual Dues">{{ member.annualDues | currency:'USD':true:'4.2-2' }}</td>
                <td data-title="Renewal Date">
                  <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="member.renewalDate" ></ion-datetime>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
