<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ project.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding headerspacing>

  <header>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-9>
          <ion-row>
            <ion-col col-12 col-md-4>
              <div *ngIf="!project.logoRef" text-center>
                <ion-icon name="image"></ion-icon>
                <ion-label>Change logo in <a (click)="viewProjectDetails(project.id)">Project Details</a></ion-label>
              </div>
              <div *ngIf="project.logoRef">
                <img src="{{ project.logoRef }}" alt="{{ project.name }} logo"/>
              </div>
            </ion-col>
            <ion-col col-12 col-md-8>
              <h1>{{ project.name }}</h1>
              <p>{{ project.description }}</p>
            </ion-col>
            <ion-col col-12>
              <ion-row>
                <ion-col col-12 col-md-4>
                  <ion-label>
                    <strong>Budget: </strong> N/A
                  </ion-label>
                  <ion-label>
                    Current: N/A
                  </ion-label>
                </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-label>
                    Categories: {{ project.sector }} <span *ngIf="!project.sector">N/A</span>
                  </ion-label>
                </ion-col>
                <ion-col col-12 col-md-4>
                  <ion-label>
                    <ion-row>
                      <span margin-right>Launched: </span>
                      <span>
                        <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="project.startDate" ></ion-datetime>
                      </span>
                      <span *ngIf="!project.startDate">N/A</span>
                    </ion-row>
                  </ion-label>
                  <ion-label>
                    Members: {{ membersCount }}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 col-md-3>
          <ion-item (click)="openProjectUserManagementModal()">
            <ion-icon name="people" item-left large></ion-icon>
            <p>
              LF Users
            </p>
          </ion-item>
          <ion-item (click)="openAssetManagementModal()">
            <ion-icon name="folder" item-left large></ion-icon>
            <p>Project Files</p>
          </ion-item>
          <ion-item>
            <ion-icon name="mail" item-left large></ion-icon>
            <p>Email Lists</p>
          </ion-item>
          <ion-item>
            <ion-icon name="md-create" item-left large></ion-icon>
            <p>
              <a (click)="viewProjectDetails(project.id)">Project Details</a>
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-segment [(ngModel)]="tab" color="secondary">
      <ion-segment-button value="membership">
        Membership
      </ion-segment-button>
      <ion-segment-button value="repositories">
        Repositories
      </ion-segment-button>
      <ion-segment-button value="support">
        Support
      </ion-segment-button>
    </ion-segment>
  </header>
  <loading-spinner [loading]="loading.project"></loading-spinner>
  <div [ngSwitch]="tab">
    <ion-grid [loading-display]="loading.project" *ngSwitchCase="'membership'">
      <ion-row>
        <ion-col col-12>
          <div class="table-responsive-vertical">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="clickable" (click)="sortMembers('alert')">
                    Alert
                    <sorting-display [sorting]='sort.alert.sort'></sorting-display>
                  </th>
                  <th class="clickable" (click)="sortMembers('company')">
                    Company
                    <sorting-display [sorting]='sort.company.sort'></sorting-display>
                  </th>
                  <th>Tier</th>
                  <th class="clickable" (click)="sortMembers('product')">
                    Product
                    <sorting-display [sorting]='sort.product.sort'></sorting-display>
                  </th>
                  <th class="clickable" (click)="sortMembers('status')">
                    Invoices Status
                    <sorting-display [sorting]='sort.status.sort'></sorting-display>
                  </th>
                  <th class="clickable" (click)="sortMembers('dues')">
                    Annual Dues
                    <sorting-display [sorting]='sort.dues.sort'></sorting-display>
                  </th>
                  <th class="clickable" (click)="sortMembers('renewal')">
                    Renewal Date
                    <sorting-display [sorting]='sort.renewal.sort'></sorting-display>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of project.members">
                  <td data-title="Alert">
                    <span *ngIf="member.alert == 'alert'" class="circle-alert"></span>
                    <span *ngIf="member.alert == 'notice'" class="circle-notice"></span>
                    <span *ngIf="member.alert == ''" class="circle-null"></span>
                  </td>
                  <td data-title="Company" (click)="memberSelected($event, member.id)"><strong>{{ member.org.name }}</strong></td>
                  <td data-title="Tier">{{ member.tier }}</td>
                  <td data-title="Product">{{ member.product }}</td>
                  <td data-title="Status">{{ member.invoices[0].status }}</td>
                  <td data-title="Annual Dues">{{ member.annualDues | currency:'USD':true:'4.2-2' }}</td>
                  <td data-title="Renewal Date">
                    <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="member.renewalDate" ></ion-datetime>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'repositories'">
      <ion-row>
        <ion-col col-12 col-sm-3 col-md-2>
          <ion-segment [(ngModel)]="repoPage" class="segment-sidebar">
            <ion-segment-button value="reposHome">
              Repositories Home
            </ion-segment-button>
            <ion-segment-button value="indivContracts">
              Individual Contracts
            </ion-segment-button>
            <ion-segment-button value="corpContracts">
              Corporate Contracts
            </ion-segment-button>
            <div class="menu-divider"></div>
            <ion-segment-button value="repoSettings">
              <ion-icon name="settings"></ion-icon> Repository Settings
            </ion-segment-button>
          </ion-segment>
        </ion-col>

        <ion-col col-12 col-sm-9 col-md-10>
          <div [ngSwitch]="repoPage">
            <div *ngSwitchCase="'reposHome'" class="reposHome">

              <ion-card>
                <ion-card-content>
                  <ion-grid>
                    <ion-row class="with-icon">
                      <ion-col col-6>
                        <ion-icon name="person" class="card-icon"></ion-icon>
                        <h2>Individual CLA</h2>
                        <p>
                          zephyr_CLA_individual.pdf<br>
                          6/30/2017, 11:31 PST,
                          Version 2.1
                        </p>
                      </ion-col>
                      <ion-col col-6>
                        <h2 class="approvals-pending">8</h2>
                        <p>
                          Pending Approvals
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-content>
                  <ion-grid>
                    <ion-row class="with-icon">
                      <ion-col col-6>
                        <ion-icon name="briefcase" class="card-icon"></ion-icon>
                        <h2 class="clickable" (click)="openClaCorporateMemberModal()">Corporate CLA</h2>
                        <p>
                          zephyr_CLA_corporate.pdf<br>
                          6/30/2017, 11:31 PST,
                          Version 2.1
                        </p>
                      </ion-col>
                      <ion-col col-6>
                        <h2 class="approvals-pending">1</h2>
                        <p>
                          Pending Approvals
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-content>
                  <ion-grid>
                    <ion-row class="with-icon">
                      <ion-col col-6>
                        <ion-icon name="logo-github" class="card-icon"></ion-icon>
                        <h2>Repository Settings</h2>
                        <p>
                          3 Connected Repositories
                        </p>
                      </ion-col>
                      <ion-col col-6>
                        <p>
                          zephyrproject-rtos/zephyr<br>
                          Primary GIT Repository for the Zephyr Project
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>

            </div>

            <div *ngSwitchCase="'indivContracts'">
              <h1>Indiv Contracts</h1>
            </div>

            <div *ngSwitchCase="'corpContracts'">
              <h1>Corp Contracts</h1>
            </div>

            <div *ngSwitchCase="'repoSettings'">
              <h1>Repo Settings</h1>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngSwitchCase="'support'">
      <ion-row>
        <ion-col col-12>
          <h1>Support</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
