cla-landing {
  .scroll-content {
    padding-top: 40px !important;
  }
}


.cla-header {
  border-bottom: 40px solid #4C79B6;

  .toolbar {
    color: #7b7b7b;
    background-color: white;
    padding: 4px 25px;

    ion-icon {
      color: #7b7b7b;
      line-height: 6px;

      &:before {
        font-size: 19px;
      }
    }
  }

  .navbar-logo {
    width: 100px;
    position: absolute;
    left: calc(50% - 20px);
    top: 30%;
  }

  .scroll-content {
    padding-bottom: 162px;
  }
}

.page-content {
  min-height: calc(100vh - 500px);
  padding: 10px 10px;

  @media (min-width: 768px) and (max-width: 1200px) {
    padding: 16px 50px 100px;
  }
}