cla-landing {
  .page-content {
    min-height: calc(100vh - 339px);
    margin-top: 25px;
    transition: margin 0.3s;

    &.expanded {
      min-height: calc(100vh - 414px);
      margin-top: 100px;
    }

    &.without-lfx-header {
      margin-top: 50px;
      min-height: calc(100vh - 364px) !important;
    }

    img {
      max-height: 150px;
    }

    .project-name {
      text-align: center;
      font-size: 25px;
    }

    .xc {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 100px;
    }
  }

  .scroll-content {
    margin-top: 96px !important;
  }
}
