// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT


form.submit-attempt .item-md.item-input.ng-invalid:not(.input-has-focus) .item-inner {
  border-bottom-color: #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

/* Ion-select - InValid Markings */
ion-item:not(.input-has-focus):not(.item-input-has-focus) ion-select.ng-invalid.ng-touched,
form.submit-attempt ion-item:not(.input-has-focus):not(.item-input-has-focus) ion-select.ng-invalid{
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 2px solid #f53d3d;
  }
}

/* Ion-select - Valid Markings */
ion-item.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) ion-select.ng-valid {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 2px solid #32db64;
  }
}

/* Ion-datetime - Valid Markings */
ion-item.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) ion-datetime.ng-valid {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: 2px solid #32db64;
  }
}

ion-datetime.datetime-md {
  padding: 8px;
  padding-left: 0;
}

form {
  .form-message {
    color: red;
  }
  ion-item.item.indented {
    padding-left: 30px;
  }
}

.checkbox-description {
  margin-left: 72px;
  color: color($colors, gray);
  font-style: italic;
  p {
    margin-top: 0;
  }
}

.list_input {
  &-item_inner {
    @extend .item-inner;
    border-bottom: 0;
  }
  &-input_wrapper {
    @extend .input-wrapper;
  }
  &-label {

  }
  &-input {
    // position: static;
    // display: block;
    // flex: 1;
    // width: 100%;
    @extend ion-input;
  }
  &-list_input {
    @extend .text-input;
    margin: 8px 8px 0 0;
    width: calc(100% - 8px);
    padding: 0;
  }
  &-input_item {
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: .75rem;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: .5rem 1rem;
  }
  &-text {
    font-size: 1.5rem;
    vertical-align: middle;
  }
  &-remove {
    vertical-align: sub;
  }
  &-add {
    font-size: 2.5rem;
    vertical-align: sub;
    margin-top: 2px;
    margin-bottom: 1.4rem;
    &:before {
      margin-left: 1px;
      color: color($colors, primary);
    }
  }
}
