// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

.loading-display {
  &-initial {
    // display: none;
    opacity: 0;
  }

  &-loaded {
    // display: block;
    opacity: 1;
    animation-name: loadingDisplayFadeIn;
    animation-duration: .8s;
  }
}

@keyframes loadingDisplayFadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
