ion-modal {
  .grid {
    padding: 0 16px;
  }
  .toolbar {
    padding: 1rem 1rem 1rem 2rem;
  }
  .toolbar {
    background-color: #f5f5f5;
    color: black;
  }
  .content {
    background-color: #fff;
  }
  .footer-seamless {
    background-color: transparent;
    border-color: transparent;
    &:before {
      display: none;
    }
    .toolbar {
      background-color: inherit;
    }
    .toolbar-background {
      border-color: inherit;
    }
  }
  .footer-bordered {
    background-color: transparent;
    border-top:2px solid #f5f5f5;
    &:before {
      display: none;
    }
    .toolbar {
      background-color: inherit;
    }
    .toolbar-background {
      border-color: inherit;
    }
  }
}
