/* Copyright The Linux Foundation and each contributor to CommunityBridge.
 SPDX-License-Identifier: MIT -->*/
 
 .row {
    height: calc(100vh - 336px) !important;
    .not-found {
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }
  }
  