section-header {
  display: block;
  background-color: white;

  header {
    padding: 30px 50px !important;
    min-height: 150px;

    &:after {
      background: none !important;
    }
  }

  .project-logo {
    height: 100%;
    max-width: 30px;
    max-height: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .no-logo-icon {
    font-size: 90px;
  }

  .project-title-wrapper {
    display: flex;

    h1 {
      font-weight: 600;
      margin: 0 0 10px;
    }

    p {
      margin: 0;
      color: #7b7b7b;
      text-transform: capitalize;
    }
  }

  .project-description-wrapper {
    margin-left: 10px;
  }

  ion-datetime {
    color:#000 !important;
    background: none !important;
    opacity: 1 !important;
  }
}
