login {
  .scroll-content {
    background: url("../assets/img/boat.jpeg") no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 !important;
  }

  .page-content {
    min-height: calc(100vh - 416px);
    margin-top: 25px;
    transition: margin 0.3s;

    &.expanded {
      min-height: calc(100vh - 416px);
      margin-top: 100px;
    }

    .login-container {
      text-align: center;
      margin-top: 215px;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 20px;
      background-color: #ececec;
      max-width: 400px;

      button {
        margin-top: 25px;
        width: 250px;
        max-width: 100%;
      }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }

  .logo {
    display: block;
    width: 250px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .scroll-content {
    padding-bottom: 162px;
  }
}
