// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

login {

  .scroll-content {
    background: url("../assets/img/boat.jpeg") no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .login-container {
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    background-color: #ececec;
    max-width: 400px;
    button {
      margin-top: 25px;
      width: 250px;
      max-width: 100%;
    }
  }

  .logo {
    display: block;
    width: 250px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

}
