login {

  .login-wrapper {
    display: flex;
    align-items: center;
    min-height: 65vh;
    position: relative;
    padding: 4px 25px;
    
    background: url("../assets/img/boat.jpeg") no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    &:before {
      background: linear-gradient(90deg,#003366 0%,rgba(255,255,255,0.2) 100%);
      opacity: 0.8;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    span {
      color: color($colors, white);
    }
  }

  p {
    font-size: 16px;
    color: color($colors, white);
    line-height: 23px;
  }

  .login-content {
    z-index: 2;

    h3, .login-paragraph {
      color: color($colors, white);
      text-align: left
    }

    h3 {
      font-size: 35px;
    }
  }

  .invert  h3, p {
    text-align: center;
    color: color($colors, dark);
  }

  .login-page-steps {
    margin: 4px 25px;
  }

  .login-container {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    background-color: #ececec;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    z-index: 2;
    opacity: 0.8;

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 60%;
    }
  }

  .logo {
    display: block;
    width: 250px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .login-button {
    margin-top: 50px;
    width: 250px;
  }

  .login-page-steps {
    margin-bottom: 2rem;
    background-image: none;
    .step-title {
      text-align: center;
      margin: 4rem 0;
      font-size: 25px;
      color: color($colors, dark);
      text-align: center;
    }
  }

  .card-title {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
  }

  .card-subtitle {
    font-size: 16x;
    text-align: center;
    color: #676767;
  }

  ion-card {
    p {
      color: color($colors, dark);
      font-size: 20px;
    }
  }
  
  .cla-list::before {
    font-family: 'IconsMind';
    content: "\ee5e";
    margin: 0px 5px 0px -15px;
    color: #0099ee;
    list-style-type: none;
  }
  
  .cla-list {
    margin-bottom: 15px;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #676767;
  }

  .cla-list-paragraph {
      color: #676767;
      font-family: 'Work Sans', sans-serif;

      a {
        color: color($colors, light_blue)
      }
  }

  ion-footer {
    position: relative !important;
  }

}
