company-page {
  
  .page-content {
    min-height: calc(100vh - 200px);
    padding: 10px 10px;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }
  .scroll-content {
    margin-top: 96px !important;
  }

  .add-company-btn {
    bottom: 155px;
    right: 15px;
  }

  ion-header {
    border-bottom: 40px solid #4C79B6;

    .toolbar {
      color: #7b7b7b;
      background-color: white;

      ion-icon {
        color: #7b7b7b;
        line-height: 6px;

        &:before {
          font-size: 19px;
        }
      }
    }

    .navbar-logo {
      width: 100px;
      position: absolute;
      left: calc(50% - 20px);
    }
  }
  
  th .clickable {
    text-align: center;
  }
  
  table.invites .invites th, .invites td{
    vertical-align: center;
    text-align: center;
  }

  ion-footer {
    position: relative;
  }

}
