company-page {
  .page-content {
    min-height: calc(100vh - 200px);
    padding: 10px 10px;

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }
  .scroll-content {
    margin-top: 96px !important;
  }

  .add-company-btn {
    bottom: 155px;
    right: 15px;
  }

  .card-md h2 {
    font-size: 18px;
  }

  .card-md {
    padding: 30px !important;
  }

  .card-md p {
    font-size: 18px;
  }

  .card-md li {
    font-size: 14px;
  }

  li + li {
    margin-top: 2rem;
  }

  ion-header {
    border-bottom: 40px solid #4c79b6;

    .toolbar {
      color: #7b7b7b;
      background-color: white;

      ion-icon {
        color: #7b7b7b;
        line-height: 6px;

        &:before {
          font-size: 19px;
        }
      }
    }

    .navbar-logo {
      width: 100px;
      position: absolute;
      left: calc(50% - 20px);
    }
  }


  ul {
    list-style: none; /* Remove default bullets */
  }

  ul li::before {
    content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #4c79b6; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  th .clickable {
    text-align: center;
  }

  table.invites .invites th,
  .invites td {
    vertical-align: center;
    text-align: center;
  }

  ion-footer {
    position: relative;
  }
}
