company-page {
  .page-content {
    min-height: calc(100vh - 258px);
    margin-top: 25px;
    transition: margin 0.3s;

    &.expanded {
      min-height: calc(100vh - 333px);
      margin-top: 100px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }

  .scroll-content {
    margin-top: 96px !important;
  }

  th .clickable {
    text-align: center;
  }

  table.invites .invites th,
  .invites td {
    text-align: center;
  }

  .table button {
    padding: 0;
    margin: 0;
    text-decoration: underline;

    &.mr-5 {
      margin-right: 5px;
    }
  }

  ion-footer {
    position: relative;
  }

  span[title="CLA Manager"] {
    color: green;
    font-weight: bold;
  }

  span[title="Pending"] {
    color: #4c79b6;
    font-weight: bold;
  }

  span[title="Request Access"] {
    color: #4c79b6;
    font-weight: bold;
    text-decoration: underline;
  }

  td {
    vertical-align: text-bottom !important;
    &.wrap-word {
      word-break: break-all;
    }
  }

  .error {
    color: red;
  }
}
