authority-yesno-page {
  .page-content {
    min-height: calc(100vh - 335px);
    margin-top: 25px;
    transition: margin 0.3s;
    
    &.expanded {
      min-height: calc(100vh - 410px);
      margin-top: 100px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      padding: 16px 50px 162px;
    }
  }

  .scroll-content {
    margin-top: 96px !important;
  }

  .back-btn {
    background-color: white;
    box-shadow: none;
    &:hover {
      background-color: white !important;
      box-shadow: none !important;
    }
  }

  ion-footer {
    position: relative;
  }
}
