// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

project-groups {

  .vertical-align {
    height: 100%;
    display: block;
    vertical-align: middle;
  }

  .groups-title {
    margin-top: 20px;
  }

  tr {
    background-color: #fff !important;
  }

  button{
    text-transform: none !important;
  }

  .toolbar-select {
    display: flex;
    margin-right: 8px;
    ion-select {
      position: relative;
      max-width: none;
      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid white;
        position: absolute;
        bottom: 13px;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }

  .tabular-head,
  .tabular-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tabular-head ion-col {
    font-weight: 600;
    color: #757575 !important;
  }

  .tabular-row ion-col {
    padding: 1.6rem;
  }

  .tabular-row {
    border-bottom: 1px solid #dcdcdc;
  }

  .tabular-body .tabular-row:hover > ion-col {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .input-box{
    border: 1px solid gray;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 48px;
    font-size: 14px !important; 
  }

  .add-button{
    height: 48px;
  }

}
