/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";

@font-face {
  font-family: "Source Sans Pro";
  src: url(./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro bold";
  src: url(./assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  font-weight: 300;
}

.building-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("./assets/icons/building.svg");
}

.coding-icon {
  width: 43px;
  height: 42px;
  background-size: contain;
  background-image: url("./assets/icons/coding.svg");
}

.user-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("./assets/icons/user.svg");
}

.filter-color {
  filter: invert(52%) sepia(23%) saturate(5408%) hue-rotate(171deg) brightness(91%) contrast(105%);
}
