// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

ion-header {
  border-bottom: 1px solid lightgray;

  &:after {
    background: none !important;
  }

  ion-toolbar {
    background-color: white !important;
    padding: 0 2rem !important;

    ion-title {
      color: #7b7b7b;
    }

    button {
      color: #7b7b7b !important;

      &.connect {
        color: white !important;
        margin-left: 15px;
        background-color: #4C79B6;
      }
    }
  }
}

.title-wrapper {
  height: 56px;
  display: flex;
  align-items: center;
  line-height: 56px;
  border-bottom: 3px solid #003764;
  padding: 0 15px 0 5px;
}
