<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ member.org.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="member" overflow-scroll="true">
  <ion-fab right bottom>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="addMemberContact()"><ion-icon name="person-add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <header padding-bottom>
    <ion-grid>
      <ion-row responsive-sm>
        <ion-col col-12 text-right padding-top>
            <span color="gray">Last Updated: 3/16/2017</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row responsive-sm>
        <ion-col width-30 text-center>
          <p><img src="{{ member.org.logoRef }}"/></p>
          <p color="gray">
            <a href="{{ member.org.logoRef }}" download><ion-icon name="md-download"></ion-icon></a>
            <small>Logo (.ai or .eps)</small>
          </p>
        </ion-col>
        <ion-col width-40>
          <ion-item no-lines>
            <h1>{{ member.org.name }}</h1>
            <h2 margin-top>{{ member.org.url }}</h2>
            <p>Replace</p>
            <p>with</p>
            <p>member.org.addresses</p>
          </ion-item>
          <ion-item no-lines>
            <p>Status: ACTIVE</p>
            <p>Membership: {{ member.tier }} ($20,000.000)</p>
            <p>Board: Yes</p>
          </ion-item>
        </ion-col>
        <ion-col width-30>
          <span class="renewal-date-title" padding>{{ member.projectName }} Renewal Date</span>
          <ion-item no-lines>
            <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="member.renewalDate" ></ion-datetime>
          </ion-item>
          <ion-item no-lines>
            <p>LF Membership: #123456</p>
            <p>Expires 7/7/2018</p>
          </ion-item>
          <ion-item no-lines>
            <b>Press Release: - / - / -</b>
            <br><br>
            <p><ion-icon name="cloud-upload"></ion-icon> Upload Press Release</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </header>

  <ion-grid>
    <ion-row responsive-md>
      <ion-col width-33>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col col-10>
                CONTRACT
              </ion-col>
              <ion-col col-2>
                <ion-icon name="folder" button-large></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-icon name="md-open" item-left large></ion-icon>
              <h2>DocuSign Status</h2>
              <p>Documents for your DocuSign Signature</p>
              <p>Envelope #DSX-0000008</p>
            </ion-item>
            <ion-item>
              <ion-icon name="md-checkmark" item-left large></ion-icon>
              <h2>Sasha Maxwell, Google</h2>
              <p>sashamaxwell@google.com</p>
              <p>Completed on 3/19/2016, 00:09am</p>
            </ion-item>
            <ion-item>
              <ion-icon name="md-square-outline" item-left large></ion-icon>
              <h2>Lauren Legalesq, Linux Foundation</h2>
              <p>laura@linuxfoundation.org</p>
              <p><i>Wating for signature</i></p>
            </ion-item>
          </ion-card-content>
          <br>
        </ion-card>
      </ion-col>
      <ion-col width-33>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col col-10>
                INVOICE
              </ion-col>
              <ion-col col-2>
                <ion-icon name="folder" button-large></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <h2>Invoice: Unsent</h2>
            </ion-item>
            <ion-item>
              <h2>Mary Almond</h2>
              <p>maryalmond@google.com</p>
            </ion-item>
            <ion-item>
              <p>Terms: 30 Day</p>
              <p>Amount: Gold, $20,000.00</p>
            </ion-item>
            <p><br><br></p>
            <ion-item>
              <p>
                <a href="#">
                  <ion-icon name="cloud-upload"></ion-icon> Preview Invoice
                </a>
              </p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col width-33>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col col-10>
                LF PROJECTS
              </ion-col>
              <ion-col col-2 (click)="openMembershipsModal()">
                (
                  <span *ngIf="orgProjectMemberships; else loadingMemberships">{{ orgProjectMemberships.length }}</span>
                  <ng-template #loadingMemberships>...</ng-template>
                )
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <div no-padding class="project-memberships" *ngFor="let member of orgProjectMembershipsFiltered" (click)="openProjectPage(member.projectId)">
              <h2>{{ member.projectName }}</h2>
              <ion-row responsive-md class="project-info">
                <ion-col width-25>
                  <p>{{ member.product }}, {{ member.invoices[0].status }}</p>
                </ion-col>
                <ion-col width-40>
                  <p>Joined: </p>
                  <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="member.startDate" ></ion-datetime>
                </ion-col>
                <ion-col width-45>
                  <p>Renewal:</p>
                  <ion-datetime no-padding [disabled]="true" displayFormat="MM/DD/YYYY" [(ngModel)]="member.renewalDate" ></ion-datetime>
                </ion-col>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              Contacts
            </ion-card-title>
            <div class="table-responsive-vertical">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Role</th>
                    <th></th>
                    <th>Name / Title</th>
                    <!--th>Timezone</th-->
                    <th>Email</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of memberContacts; let odd=odd;" [ngClass]="{ 'item-md-light':odd }">
                    <td data-title="Primary/Board" class="primary-board">
                      <span *ngIf="contact.primaryContact==true">
                        <ion-icon name="star"></ion-icon>
                      </span>
                      <span *ngIf="contact.boardMember==true">
                        <ion-icon name="contact"></ion-icon>
                      </span>
                    </td>
                    <td data-title="Role">
                      {{ memberContactRoles[contact.type] }}
                    </td>
                    <td data-title="Profile Photo">
                      <!-- <img class="profile-photo" src="{{contact.profile_photo}}"> -->
                    </td>
                    <td data-title="Name / Title" (click)="contactSelected($event, contact)">
                      {{ contact.contact.givenName }} {{ contact.contact.familyName }}, {{ contact.contact.title }}
                    </td>
                    <!--td data-title="Timezone">
                      <p *ngIf="contact.contact.timezone">
                        Replace with {{ contact.contact.timezone }}
                      </p>
                      <p *ngIf="!contact.contact.timezone">
                        &nbsp;
                      </p>
                    </td-->
                    <td data-title="Email">
                      <p *ngIf="contact.contact.email">
                        {{contact.contact.email}}
                      </p>
                      <p *ngIf="!contact.contact.email">
                        &nbsp;
                      </p>
                    </td>
                    <td data-title="Bio">
                      <p *ngIf="contact.contact.bio">
                        <ion-icon color="green" md="md-checkmark-circle"></ion-icon>
                        Bio
                      </p>
                      <p *ngIf="!contact.contact.bio">
                        &nbsp;
                      </p>
                    </td>
                    <td data-title="Photo">
                      <p *ngIf="contact.contact.headshotRef">
                        <ion-icon color="green" md="md-checkmark-circle"></ion-icon>
                        Photo
                      </p>
                      <p *ngIf="!contact.contact.headshotRef">
                        &nbsp;
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
