// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon{
  color: color($colors, gray);
}

ion-icon[name=menu] {
  color: color($colors, white);
}

.toolbar {
  background-color: color($colors, primary);
  color: color($colors, light);
  .bar-button {
    color: inherit;
    &:hover:not(.disable-hover) {
      color: inherit;
    }
  }
  .toolbar-background {
    background-color: inherit;
  }
  .toolbar-title {
    color: inherit;
  }
  .toolbar-content {
    display: flex;
  }
}

.content {
  background-color: color($colors, light);
}

.grid {
  max-width: 160rem;
}

ion-content .scroll-content > header {
  margin-top: -16px;
  margin-right: -16px;
  margin-left: -16px;
  padding: 16px;
  position: relative;
  background-color: #fff;
  &:after {
    content: "";
    @extend .header-md::after;
  }
}

ion-menu {
  .header {
    &:after {
      background-image: none;
      border-top: 1px solid color($colors, dark);
    }
    .app-logo {
      display: block;
      margin: 2rem 2rem;
      max-width: 150px;
    }
  }

  .menu-list {
    padding-left: 1rem;
    .item {
      font-weight: bold;
    }
    .menu-list {
      padding-bottom: 2rem;
      .item {
        font-weight: normal;
      }
    }
  }
  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  .scroll-content {
    overflow-y: auto;
  }
}

.clickable {
  cursor: pointer;
}

.loading-display {
  &-initial {
    // display: none;
    opacity: 0;
  }

  &-loaded {
    // display: block;
    opacity: 1;
    animation-name: loadingDisplayFadeIn;
    animation-duration: .8s;
  }
}

.card-md .item-md.item-block .item-inner {
  border-bottom: 1px solid #dedede;
}

@keyframes loadingDisplayFadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@import './styles/table';
@import './styles/modal';
