member-header {
  @media screen and (min-width: 769px) {
    .info {
      border-right: 1px solid #dcdcdc;
    }
  }

  .logo-wrapper {
    height: 119px;
    border: 1px solid #dcdcdc;
  }

  .logo {
    height: 100%;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
      width: auto;
    }
  }

  .no-logo-icon {
    font-size: 80px;
  }

  ion-datetime {
    color: #000 !important;
    background: none !important;
    opacity: 1 !important;
  }

  .membership-project-name {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .participation {
    margin-top: 1rem;
    .project-info {
      ion-datetime {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
