// Copyright The Linux Foundation and each contributor to CommunityBridge.
// SPDX-License-Identifier: MIT

project-user-management-modal {
  .project-user-management-modal-wrapper {
    height: 100%;
  }
  .toolbar{
    padding: 1rem 1rem 1rem 2rem;
  }
  .selected-show {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .toolbar {
    background-color: #f5f5f5;
    color: black;
  }
  ion-title ion-icon {
    vertical-align: text-bottom;
  }
  .footer-bordered {
    background-color: transparent;
    border-top:2px solid #f5f5f5;
    &:before {
      display: none;
    }
    .toolbar {
      background-color: inherit;
    }
    .toolbar-background {
      border-color: inherit;
    }
  }
  .content {
    background-color: #fff;
  }

  .table-heading {
    font-size: 1.6rem;
    padding-left: 1.6rem;
  }

  tr {
    border-bottom: 1px solid #f5f5f5;
  }

  tr.selected {
    background-color: #02a0fb;
    color: white;
  }

  .selected-show {
    background-color: white;
    border-top: 1px solid #999;
    position: absolute;
    bottom: 58px;
    width: 100%;
    z-index: 10;
    display: flex;
    .selected-text-wrapper {
      flex-grow: 1;
    }
    .selected-text {
      position: relative;
      top: 1.2rem;
    }
    .selected-actions {

    }
  }

}
