// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Lato');

body ion-app.ios {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif !important;
  // font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
}

body ion-app.md {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif !important;
  // font-family: "Roboto", "Helvetica Neue", sans-serif;
}

body ion-app.wp {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', sans-serif !important;
  // font-family: "Segoe UI", "Noto Sans", sans-serif;
}

.grid {
  padding-left: 0;
  padding-right: 0;
}

ion-icon{
  color: color($colors, gray);
}

ion-icon[name=menu] {
  color: color($colors, white);
}

.contract-group .card {
  margin-left: 0;
  margin-right: 0;
  width: auto;
  .card-content {
    .grid {
      padding-left: 0;
      padding-right: 0;
      .col {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.item-md.item-block .item-inner{
  padding-right: 0;
}

.item.item-md{
  padding-left: 0;
  .checkbox-md {
    margin: 6px 15px 9px 0px;
  }
}

.toolbar {
  background-color: color($colors, primary);
  color: color($colors, light);
  .bar-button {
    color: inherit;
    &:hover:not(.disable-hover) {
      color: inherit;
    }
  }
  .toolbar-background {
    background-color: inherit;
  }
  .toolbar-title {
    color: inherit;
  }
  .toolbar-content {
    display: flex;
  }
}

.content {
  background-color: color($colors, light);
}

.content-md hr {
  width:100%;
}

ion-content .scroll-content > header {
  margin-top: -16px;
  margin-right: -16px;
  margin-left: -16px;
  padding: 16px;
  position: relative;
  background-color: #fff;
  &:after {
    content: "";
    @extend .header-md::after;
  }
}

.clickable {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.vertical-rule-right::after {
    content: "";
    display: block;
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: 80%;
    position: absolute;
    width: 0;
    right: -1px;
    top: 10%;
}

.button[icon-only][round] {
  width: 3.6rem;
}

.text-right {
  text-align: right;
}

.table > tbody > tr > td.actions-cell {
  text-align: right;
  padding-top: .6rem;
}

.toolbar-title-md {
  padding: 0;
}

.md ion-footer .toolbar:last-child{
  padding-bottom: 1rem;
}

.bar-buttons-md[end] {
  margin-right: 0;
  .button:last-child {
    margin-right: 0;
  }
}

.row .col .card {
  min-height: calc( 100% - 20px )
}

.alert-md .alert-wrapper{
  @media screen and (max-width: 520px) {
    max-width: none;
    min-width: 100%;
    width: 100%;
  }
}

@import './styles/menu';
@import './styles/grid';
@import '../theme/breakpoints.scss';
@import './styles/form';
@import './styles/loading';
@import './styles/table';
@import './styles/modal';
@import '../theme/footer';

