add-company-modal {
  .company-dropdown-list {
    border: 1px solid #dedede;
    color: black;
    margin: 0.2rem 0;
    position: absolute;
    z-index: 3;
    width: 100%;

    .item {
      padding: 0.5rem 1rem;
      font-size: 15px;
    }
  }

  .error{
    color: red;
    text-align: left;
  }

  .highlightText {
    font-weight: bold;
  }

  ion-label span {
    display: inline-block;
  }
}
