project-analytics {
  .issues-tile{
    text-align: center;
  }
  .issues-tile-index{
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1cb2e4;
    margin-top: 10px;
  }
  .issues-tile-index-separator{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 0px;
    height: 54px;
    border: solid 1px #1cb2e4;
  }
  .checklist-button {
    border-radius: 15px;
    padding-left: 15px;
    background-color: #2bb3e2;
    color: #ffffff;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    width: 300px;
  }
  ion-icon {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .first-row {
    height: 350px;
  }
  .row{
    align-items: center;
  }
  .progress-cla-bar{
    background-color: #ebebeb;
    height: 25px;
    width: 100% !important;
    overflow: hidden;
  }
  .progress-one{
    background-color: #044d74;
    height: 25px;
    float:left;
    width: 40% !important;
  }
  .progress-two{
    background-color: #1cb2e4;
    height: 25px;
    float: left;
    width: 35% !important;
  }
  .vertical-align {
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  .configure-analytics {
    margin: 40px;
  }
  .analytics-title {
    margin-top: 20px;
  }
  .analytics-card {
    background-color: #ffffff;
    color: #0b4e73 !important;
  }
  .chart {
    width: 100%;
    min-height: 450px;
  }
  .pipeline-chart {
    display: inline-block;
    margin-top: 25px;
  }
  .pipeline-content {
    text-align: center;
  }
  .cssHeaderRow {
    background-color: #ffffff;
  }
  .cssTableRow {
      background-color: #ffffff;
  }
  .cssOddTableRow {
      background-color: #ffffff;
  }
  .cssSelectedTableRow {
      font-size: 16px;
      font-weight:bold;
  }
  .cssHoverTableRow {
      background: #ccc;
  }
  .cssHeaderCell {
      color: #0b4e73;
      font-size: 14px;
      padding: 10px !important;
      border: solid 1px #ffffff;
      text-align: center;
  }
  .cssTableCell {
      font-size: 14px;
      padding: 10px !important;
      border: solid 1px #ffffff;
      text-align: center;
  }
  .cssRowNumberCell {
      text-align: center;
  }


}
