project-analytics {
  .vertical-align {
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  .configure-analytics {
    margin: 40px;
  }
  .analytics-title {
    margin-top: 20px;
  }
  .analytics-card {
    background-color: #ffffff;
    color: #0b4e73 !important;
  }
  .chart {
    width: 100%;
    min-height: 450px;
  }
  .pipeline-chart {
    display: inline-block;
    margin-top: 25px;
  }
  .pipeline-content {
    text-align: center;
  }
  .cssHeaderRow {
    background-color: #ffffff;
  }
  .cssTableRow {
      background-color: #ffffff;
  }
  .cssOddTableRow {
      background-color: #ffffff;
  }
  .cssSelectedTableRow {
      font-size: 16px;
      font-weight:bold;
  }
  .cssHoverTableRow {
      background: #ccc;
  }
  .cssHeaderCell {
      color: #0b4e73;
      font-size: 14px;
      padding: 10px !important;
      border: solid 1px #ffffff;
      text-align: center;
  }
  .cssTableCell {
      font-size: 14px;
      padding: 10px !important;
      border: solid 1px #ffffff;
      text-align: center;
  }
  .cssRowNumberCell {
      text-align: center;
  }


}
