<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Linux Foundation Console</ion-title>
    <div class="toolbar-search">
      <ion-icon name="search"></ion-icon>
        <ion-input type="text" value=""></ion-input>
    </div>

  </ion-navbar>
</ion-header>

<ion-content padding headerspacing>

  <header>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4>
          <h2>Contracts</h2>
          <div>
            <canvas #contractsCanvas></canvas>
          </div>
        </ion-col>
        <ion-col col-12 col-md-6 col-lg-4>
          <h2>Invoices</h2>
          <div>
            <canvas #invoicesCanvas></canvas>
          </div>
        </ion-col>
        <ion-col col-12 col-md-6 col-lg-4>
          <h2>Board Meeting</h2>
          <ion-item *ngFor="let meeting of meetings">
            <ion-icon name="calendar" item-left large></ion-icon>
            <h2>{{meeting.label}}</h2>
            <p>{{meeting.value}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </header>

  <ion-grid class="projects-list">
    <ion-row>

      <ion-col col-12 col-md-6 col-lg-4 col-xl-3 *ngFor="let project of projects">
        <ion-card>
          <img src="{{project.icon}}" alt="{{project.title}} logo"/>
          <ion-card-content>
            <ion-card-title>
              {{project.title}}
            </ion-card-title>
            <dl>
              <ng-container *ngFor="let data of project.datas">
                <dt>{{data.label}}</dt>
                <dd>{{data.value}} <span *ngIf="data.status == 'alert'" class="circle-alert"></span></dd>
              </ng-container>
            </dl>
            <ion-item *ngFor="let meeting of project.meetings">
              <ion-icon name="calendar" item-left large></ion-icon>
              <h2>{{meeting.label}}</h2>
              <p>{{meeting.value}}</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
