login {
  
  .login-container{
    text-align: center;
    margin-top: 60px;
  }

  .gray-rectangle {
    position: relative;
    display: inline-block;
    float: center;
    width: 400px;
    background: url("../assets/img/gray.png") no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .white-rectangle {
    float: center;
    width: 400px;
    height: 10px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #ffffff;
  }

  .login-content{
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .btn-login{
    width: 240px;
    height: 50px;
    background-color: white;
    color: gray;
    border-color: #cccccc;
    font-family: HelveticaNeue;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 1px 2px 3px #888888;
  }

  .btn-label{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 400;
  }
}
