cla-contract-config-modal {
  .activate-spinner {
    margin-left: 5rem;
  }
  p, ion-label, input {
    color: #7b7b7b;
  }

  ion-grid {
    padding: 0 50px !important;
  }

  .scroll-content {
    padding-top: 20px;
  }

  ion-footer {
    background-color: red;
  }

  .btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    margin-top: 50px;
    border-top: 1px solid lightgray;
  }

  ion-icon.icon-md {
    font-size: 18px !important;
  }
}

ion-modal.medium .modal-wrapper {
  width: 100%;
  max-width: 90%;
  left: 5% !important;
}

ion-modal .title-wrapper {
  width: 100%;
}
.empty-signatures {
  text-align: center;
  text-transform: uppercase;
}

.align-items-center {
  align-items: center;
}
.searchbar-md .searchbar-input {
  padding: 3px 40px;
  border-radius: 1px;
}



