.cla-header {
    margin-top: 50px;
    transition: margin 0.3s;
    &.expanded {
        margin-top: 105px;
    }

    &.without-lfx-header {
        margin-top: 0;
    }

    .toolbar {
        color: #7b7b7b;
        background-color: white;
        padding: 4px 25px;
        height: 65px;

        &.with-lfx-header {
            height: 55px;
        }

        ion-icon {
            color: #7b7b7b;
            line-height: 6px;

            &:before {
                font-size: 19px;
            }
        }
    }

    .navbar-logo {
        position: absolute;
        left: calc(50% - 20px);
        margin: -30px 0 -18px -138px;
        width: 300px;
        padding: 1rem;
    }
}
